force-app/main/default/flows/AP_Edit_Approval_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Selected_Step_Definition</name>
        <label>Find Selected Step Definition</label>
        <locationX>1509</locationX>
        <locationY>310</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Manage_Specific_Step</targetReference>
        </connector>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>selectedStepDefinitionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>ApprovalProcessStepDefinition__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>curApprovalProcessStepDefs</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curApprovalProcessStepDefinition</assignToReference>
            <name>singleOutputMember</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Datatable returns a collection of rows. This extracts the first one.
TODO: implement the enforceSingleMember flag and detect returned errors</description>
        <name>Get_Selected_Step</name>
        <label>Get Selected Step</label>
        <locationX>1627</locationX>
        <locationY>243</locationY>
        <actionName>GetFirstFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Manage_Specific_Step</targetReference>
        </connector>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>curApprovalProcessStepDefs</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curApprovalProcessStepDefinition</assignToReference>
            <name>outputMember</name>
        </outputParameters>
    </actionCalls>
    <choices>
        <name>AddStep</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done</name>
        <choiceText>Done with steps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>done</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditStep</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModifyStep</name>
        <choiceText>Edit or Delete Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReorderSteps</name>
        <choiceText>Reorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>reorder</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Output</name>
        <label>Check Output</label>
        <locationX>1892</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flow_Call_By_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Output</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Created By User</stringValue>
                </rightValue>
            </conditions>
            <label>Is Flow Call By Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Done_Handling_Steps</name>
        <label>Done Handling Steps?</label>
        <locationX>1322</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Find_Selected_Step_Definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add, Delete, Edit Step</defaultConnectorLabel>
        <rules>
            <name>outcomeDone_Handling_Steps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Kind_Of_Modification_Needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Done</elementReference>
                </rightValue>
            </conditions>
            <label>Done Handling Steps</label>
        </rules>
        <rules>
            <name>Reorder_Steps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Kind_Of_Modification_Needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReorderSteps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Step_Reordering</targetReference>
            </connector>
            <label>Reorder Steps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_Selected</name>
        <label>Submitter Selected?</label>
        <locationX>551</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Notification_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submitter Selected</defaultConnectorLabel>
        <rules>
            <name>No_Submitter_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedSubmitterRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Error_Message</targetReference>
            </connector>
            <label>No Submitter Selected</label>
        </rules>
    </decisions>
    <description>removed automatic reference</description>
    <interviewLabel>AP Edit Approval Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Edit Approval Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ApprovalProcess_Step_Definitions</name>
        <label>Get ApprovalProcess Step Definitions</label>
        <locationX>1134</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Approval_Process_Steps</targetReference>
        </connector>
        <filters>
            <field>ApprovalProcessDefinition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessDefinition.Id</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessStepDefinition__c</object>
        <outputReference>curApprovalProcessStepDefs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ApprovalFlow_API_Name__c</queriedFields>
        <queriedFields>RejectionFlow_API_Name__c</queriedFields>
        <queriedFields>SingleApproverOrMultiple__c</queriedFields>
        <queriedFields>EntryCriteriaDisplayType__c</queriedFields>
        <queriedFields>EntryCriteriaMode__c</queriedFields>
        <queriedFields>ifCriteriaNotMet__c</queriedFields>
        <queriedFields>ApprovalProcessDefinition__c</queriedFields>
        <queriedFields>AllowDelegate__c</queriedFields>
        <queriedFields>ApproverType__c</queriedFields>
        <queriedFields>EntryCriteria__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>RejectBehavior__c</queriedFields>
        <queriedFields>Label__c</queriedFields>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Configure_Approval_Form</name>
        <label>Configure Approval Form</label>
        <locationX>957</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Configure_Initial_Submitters</targetReference>
        </connector>
        <fields>
            <name>dispSpecifyEntryCriteria_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Configure Approval Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Initial_Submitters</name>
        <label>Configure Initial Submitters</label>
        <locationX>1056</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_ApprovalProcess_Step_Definitions</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Qualified_Submitters</name>
        <label>Configure Qualified Submitters</label>
        <locationX>360</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Notification_Templates</targetReference>
        </connector>
        <fields>
            <name>ConfigureQualifiedSubmitters</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Configure Qualified Submitters&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayToolTip</name>
            <fieldText>&lt;p&gt;Using the options below, specify which users are allowed to submit the initial request for approval.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>role_manager_initial_submitters</name>
            <extensionName>c:roleManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>availableObjectTypes</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>managerName</name>
                <value>
                    <stringValue>ManageApprovalInitialSubmitters</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>supportedAddCapabilities</name>
                <value>
                    <stringValue>Add</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>supportedEditCapabilities</name>
                <value>
                    <stringValue>Remove</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>curApprovalProcessDefinition.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addTabName</name>
                <value>
                    <stringValue>Add Submitters</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editTabName</name>
                <value>
                    <stringValue>Edit Submitters</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Approval_Process_Steps</name>
        <label>Manage Approval Process Steps</label>
        <locationX>1208</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Done_Handling_Steps</targetReference>
        </connector>
        <fields>
            <name>dispSelectModify</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select Step to Modify:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalProcessSteps</name>
            <extensionName>c:ApprovalProcessDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>approvalProcessStepDefinitionCollection</name>
                <value>
                    <elementReference>curApprovalProcessStepDefs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>ApprovalProcessStepColumnHeaders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDefinition</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>curApprovalProcessStepDefs</assignToReference>
                <name>approvalProcessStepDefinitionCollection</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedStepDefinitionId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>What_Kind_Of_Modification_Needed</name>
            <choiceReferences>EditStep</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <choiceReferences>AddStep</choiceReferences>
            <choiceReferences>ReorderSteps</choiceReferences>
            <choiceReferences>Done</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Take Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen combines Step 3 and Step 4 from the original Approval Process Edit wizard.</description>
        <name>Notification_Templates</name>
        <label>Routing Automation &amp; Notification Templates</label>
        <locationX>827</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Configure_Approval_Form</targetReference>
        </connector>
        <fields>
            <name>dispRouting</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Routing&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Error_Message</name>
        <label>Selected Error Message</label>
        <locationX>368</locationX>
        <locationY>787</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Configure_Qualified_Submitters</targetReference>
        </connector>
        <fields>
            <name>dispErrorSelectedSubmitter</name>
            <fieldText>&lt;p&gt;You must select at least one submitter&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Configure_Qualified_Submitters</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Manage_Specific_Step</name>
        <label>Manage Specific Step</label>
        <locationX>1325</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>Get_ApprovalProcess_Step_Definitions</targetReference>
        </connector>
        <flowName>AP_Manage_Approval_Process_Step</flowName>
        <inputAssignments>
            <name>curApprovalProcessDefinition</name>
            <value>
                <elementReference>curApprovalProcessDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>curApprovalProcessStepDefinition</name>
            <value>
                <elementReference>curApprovalProcessStepDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>requestedStepAction</name>
            <value>
                <elementReference>What_Kind_Of_Modification_Needed</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Manage_Step_Reordering</name>
        <label>Manage Step Reordering</label>
        <locationX>1208</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>Get_ApprovalProcess_Step_Definitions</targetReference>
        </connector>
        <flowName>Manage_Step_Reordering</flowName>
        <inputAssignments>
            <name>apDefinitionId</name>
            <value>
                <elementReference>curApprovalProcessDefinition.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Specify_Entry_Criteria</name>
        <label>Specify Entry Criteria</label>
        <locationX>187</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Configure_Qualified_Submitters</targetReference>
        </connector>
        <flowName>AP_Specify_Entry_Criteria</flowName>
        <inputAssignments>
            <name>curApprovalProcessDefinition</name>
            <value>
                <elementReference>retrievedApprovalProcessDefinition</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>extracted from the Step records so we can feed just the names to the dual list box</description>
        <name>allStepNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allSubmitterRoleStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApprovalProcessStepColumnHeaders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;</stringValue>
        </value>
    </variables>
    <variables>
        <description>This should be the ID of the record for which approval is being sought</description>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessStepDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessStepDefs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The action that ManagePlan flow wants ManageStep flow to carry out</description>
        <name>requestedStepAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>retrievedApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>selectedStepDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedStepNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSubmitterRoles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
