force-app/main/default/flows/AP_Edit_Approval_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Picklist_Values</name>
        <label>Get Picklist Values</label>
        <locationX>184</locationX>
        <locationY>393</locationY>
        <actionName>GetPicklistValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Configure_Qualified_Submitters</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Picklist_Retrieval</targetReference>
        </faultConnector>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Type__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>AP_AllowedSubmitterSet__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>allSubmitterRoleStrings</assignToReference>
            <name>picklistValues</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Updated_Values_To_Dual_list</name>
        <label>Assign  Updated Values To Dual List</label>
        <locationX>1528</locationX>
        <locationY>1260</locationY>
        <assignmentItems>
            <assignToReference>selectedCaseStatusOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCasePlan2.CaseStatusOrdering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Assignment</name>
        <label>Create Assignment</label>
        <locationX>1969</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>requestedStepAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>add</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Case_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_Assignment</name>
        <label>Delete Assignment</label>
        <locationX>2167</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>requestedStepAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Case_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Assignment</name>
        <label>Edit Assignment</label>
        <locationX>2382</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>requestedStepAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Case_Step</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddStep</name>
        <choiceText>Add Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>create_Choice</name>
        <choiceText>Create New Approval Process</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>createChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done</name>
        <choiceText>Done with steps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>done</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>edit_choice</name>
        <choiceText>Edit Existing Approval Process</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EditApprovalProcess</elementReference>
        </value>
    </choices>
    <choices>
        <name>ModifyStep</name>
        <choiceText>Edit or Delete Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_or_Delete_Branch</name>
        <label>Add or Edit Branch</label>
        <locationX>2324</locationX>
        <locationY>1049</locationY>
        <defaultConnector>
            <targetReference>Manage_Approval_Process_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modify</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextPlanStepActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddStep</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assignment</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>DoneOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextPlanStepActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Done</elementReference>
                </rightValue>
            </conditions>
            <label>Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Output</name>
        <label>Check Output</label>
        <locationX>2436</locationX>
        <locationY>1265</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flow_Call_By_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Output</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Created By User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
            </connector>
            <label>Is Flow Call By Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelecttion</name>
        <label>CheckSelecttion</label>
        <locationX>1533</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Type_of_Modification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Id_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPlanStepId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Selected Id Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modification_Type</name>
        <label>Modification Type</label>
        <locationX>1302</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Get_New_Records_for_Case_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modification</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSelecttion</targetReference>
            </connector>
            <label>Modification</label>
        </rules>
        <rules>
            <name>Modification_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddStep</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Modification Selected And But Option Not Slected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_Selected</name>
        <label>Submitter Selected?</label>
        <locationX>513</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>screenSpecifyEntryCriteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submitter Selected</defaultConnectorLabel>
        <rules>
            <name>No_Submitter_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedSubmitterRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Error_Message</targetReference>
            </connector>
            <label>No Submitter Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Modification</name>
        <label>Type of Modification</label>
        <locationX>1751</locationX>
        <locationY>181</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeleteModification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assignment</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>EditModification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Assignment</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <formulas>
        <name>ConvertRecordTypeDataToCSV</name>
        <dataType>String</dataType>
        <expression>{!curRecordType.Id}&amp;&quot;;&quot;&amp;{!curRecordType.DeveloperName}&amp;&quot;,&quot;</expression>
    </formulas>
    <interviewLabel>AP Edit Approval Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Edit Approval Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Plan_After_Update</name>
        <label>Get Case Plan After Update</label>
        <locationX>1150</locationX>
        <locationY>932</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Updated_Values_To_Dual_list</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>curCasePlan2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Records_for_Case_Plan</name>
        <label>Get New Records for Case Plan</label>
        <locationX>1845</locationX>
        <locationY>922</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case_Plan_List</targetReference>
        </connector>
        <object>Case_Plan__c</object>
        <outputReference>curCasePlans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Steps_Of_Case_Plan</name>
        <label>Get Plan Steps Of Case Plan</label>
        <locationX>1696</locationX>
        <locationY>1262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Plan_Steps_0</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCasePlan2.Id</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>curPlanSteps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Flow__c</queriedFields>
        <queriedFields>Associate_Case_Status__c</queriedFields>
        <queriedFields>Start_When__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
    </recordLookups>
    <screens>
        <name>AP_Definition_Created_Or_Modified</name>
        <label>Approval Process Created</label>
        <locationX>1244</locationX>
        <locationY>1459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
        </connector>
        <fields>
            <name>dispApprovalProcessSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Approval Process Created or Modified&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Configure_Approval_Form</name>
        <label>Configure Approval Form</label>
        <locationX>895</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Approval_Process_Steps</targetReference>
        </connector>
        <fields>
            <name>dispSpecifyEntryCriteria_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Configure Approval Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configure_Qualified_Submitters</name>
        <label>Configure Qualified Submitters</label>
        <locationX>360</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submitter_Selected</targetReference>
        </connector>
        <fields>
            <name>ConfigureQualifiedSubmitters</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Configure Qualified Submitters&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayToolTip</name>
            <fieldText>&lt;p&gt;Using the options below, specify which users are allowed to submit the initial request for approval.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>planStepsOrder</name>
            <extensionName>c:dualListBoxFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Allowed Submitters</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FullItemSetStringList</name>
                <value>
                    <elementReference>allSubmitterRoleStrings</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedItemsStringList</name>
                <value>
                    <elementReference>selectedSubmitterRoles</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedSubmitterRoles</assignToReference>
                <name>SelectedItemsStringList</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Picklist_Retrieval</name>
        <label>Error: Picklist Retrieval</label>
        <locationX>179</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispErrorGetPicklist</name>
            <fieldText>&lt;p&gt;Failure trying to retrieve picklist values One common reason for this is that the Object and Field names provided to the Get Picklist Values Flow Action have not been spelled properly. Make sure all custom objects and fields include the &quot;__c&quot; suffix.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1854</locationX>
        <locationY>788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Approval_Process_Steps</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageNoID</name>
            <fieldText>&lt;p&gt;Please select a record from the table.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Approval_Process_Steps</name>
        <label>Manage Approval Process Steps</label>
        <locationX>1069</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Modification_Type</targetReference>
        </connector>
        <fields>
            <name>dispSelectModify</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select Step to Modify:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalProcessSteps</name>
            <extensionName>c:ApprovalProcessDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>approvalProcessStepDefinitionCollection</name>
                <value>
                    <elementReference>curApprovalProcessSteps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>ApprovalProcessStepColumnHeaders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDefinition</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_Kind_Of_Modification_Needed</name>
            <choiceReferences>Edit</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <choiceReferences>AddStep</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Take Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Plan_Steps_0</name>
        <label>Add or Edit Plan Step?</label>
        <locationX>1069</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_Delete_Branch</targetReference>
        </connector>
        <fields>
            <name>NextPlanStepActionChoice</name>
            <choiceReferences>AddStep</choiceReferences>
            <choiceReferences>ModifyStep</choiceReferences>
            <choiceReferences>Done</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add or Edit Plan Step?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Case_Plan_List</name>
        <label>New Case Plan List</label>
        <locationX>2048</locationX>
        <locationY>942</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>YourCasePlan</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Plan Setup Completed!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewCasePlanTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>ApprovalProcessColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>curCasePlans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSpecifyEntryCriteria</name>
        <label>Specify Entry Criteria</label>
        <locationX>728</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Configure_Approval_Form</targetReference>
        </connector>
        <fields>
            <name>dispSpecifyEntryCriteria</name>
            <fieldText>&lt;p&gt;Specify Entry Criteria&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Error_Message</name>
        <label>Selected Error Message</label>
        <locationX>368</locationX>
        <locationY>787</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Configure_Qualified_Submitters</targetReference>
        </connector>
        <fields>
            <name>dispErrorSelectedSubmitter</name>
            <fieldText>&lt;p&gt;You must select at least one submitter&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Picklist_Values</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Manage_Case_Step</name>
        <label>Manage Case Step</label>
        <locationX>2434</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>Check_Output</targetReference>
        </connector>
        <flowName>CaseManager_Manage_Case_Steps</flowName>
        <inputAssignments>
            <name>CasePlanRecord</name>
            <value>
                <elementReference>curCasePlan2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedPlanStepId</name>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderedCaseStatusCSV</name>
            <value>
                <elementReference>curCasePlan2.CaseStatusOrdering__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>requestType</name>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>requestedStepAction</name>
            <value>
                <elementReference>requestedStepAction</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>allSubmitterRoleStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApprovalProcessColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApprovalProcessStepColumnHeaders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseStatesOrderCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&#39;Create&#39;</stringValue>
        </value>
    </variables>
    <variables>
        <name>createPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessStepDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>curCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curCasePlan2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curCasePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curPlanSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <name>curRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>curRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>DeletePlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EditApprovalProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>editPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>indexCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>matchingCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>matchingCasePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeCSVVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The action that ManagePlan flow wants ManageStep flow to carry out</description>
        <name>requestedStepAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCaseStatusOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPlanStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SelectedRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedSubmitterRoles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
