force-app/main/default/flows/AP_Initialize_Approval_Instance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Formula</name>
        <label>Evaluate Formula</label>
        <locationX>636</locationX>
        <locationY>285</locationY>
        <actionName>FlowFormulaEvaluator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Formula_True</targetReference>
        </connector>
        <inputParameters>
            <name>contextObjectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formula</name>
            <value>
                <elementReference>curProcessDef.EntryCriteria__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Formula_Value</assignToReference>
            <name>formulaValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_Type</name>
        <label>Get Object Type</label>
        <locationX>193</locationX>
        <locationY>50</locationY>
        <actionName>GetObjectTypeFromRecordId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Approval_Process_Defs</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>objectTypeName</assignToReference>
            <name>objectType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetNamesFromGroupSubmitters</name>
        <label>GetNamesFromGroupSubmitters</label>
        <locationX>471</locationX>
        <locationY>543</locationY>
        <actionName>GetStringsFromLists2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ExtractUserSubmitters</targetReference>
        </connector>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>curGroupSubmitters</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>groupMemberNames</assignToReference>
            <name>stringList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetRoleNamesFromRoleSubmitters</name>
        <label>GetRoleNamesFromRoleSubmitters</label>
        <locationX>477</locationX>
        <locationY>430</locationY>
        <actionName>GetStringsFromLists2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ExtractGroupSubmitters</targetReference>
        </connector>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>curAllowedSubmitters</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>roleMemberNames</assignToReference>
            <name>stringList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetUserNamesFromSubmitters</name>
        <label>GetUserNamesFromSubmitters</label>
        <locationX>470</locationX>
        <locationY>663</locationY>
        <actionName>GetStringsFromLists2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Current_User_an_Approved_Submitter</targetReference>
        </connector>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>curUserSubmitters</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>userMemberNames</assignToReference>
            <name>stringList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Is_Current_User_an_Approved_Submitter</name>
        <label>Is Current User an Approved Submitter?</label>
        <locationX>726</locationX>
        <locationY>631</locationY>
        <actionName>CheckMembership</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Allow_or_Reject_Submission</targetReference>
        </connector>
        <inputParameters>
            <name>memberRoleNames</name>
            <value>
                <elementReference>roleMemberNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUsername</name>
            <value>
                <elementReference>curUsername</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberUsernames</name>
            <value>
                <elementReference>userMemberNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberGroupNames</name>
            <value>
                <elementReference>groupMemberNames</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isAllowedSubmitter</assignToReference>
            <name>isMember</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Allow_or_Reject_Submission</name>
        <label>Allow or Reject Submission</label>
        <locationX>973</locationX>
        <locationY>47</locationY>
        <defaultConnector>
            <targetReference>Iterate_Process_Defs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Not on Approved List</defaultConnectorLabel>
        <rules>
            <name>User_is_Approved_to_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Current_User_an_Approved_Submitter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Approval_Process_Instance_Records</targetReference>
            </connector>
            <label>User is Approved to Submit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Always_Enter</name>
        <label>Is Always Enter</label>
        <locationX>617</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Formula</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curProcessDef.EntryCriteriaMode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Always Enter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtractRoleSubmitters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Formula_True</name>
        <label>Is Formula True</label>
        <locationX>473</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Iterate_Process_Defs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExtractRoleSubmitters</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>curUsername</name>
        <dataType>String</dataType>
        <expression>{!$User.Username}</expression>
    </formulas>
    <interviewLabel>AP Initialize Approval Instance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Initialize Approval Instance</label>
    <loops>
        <name>Iterate_Process_Defs</name>
        <label>Iterate Process Defs</label>
        <locationX>481</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>curProcessDef</assignNextValueToReference>
        <collectionReference>curApprovalDefs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Always_Enter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ExtractGroupSubmitters</name>
        <label>ExtractGroupSubmitters</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNamesFromGroupSubmitters</targetReference>
        </connector>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </filters>
        <object>AP_AllowedSubmitter__c</object>
        <outputReference>curGroupSubmitters</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ExtractRoleSubmitters</name>
        <label>ExtractRoleSubmitters</label>
        <locationX>181</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRoleNamesFromRoleSubmitters</targetReference>
        </connector>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role Subordinate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role Subordinate - Internal</stringValue>
            </value>
        </filters>
        <object>AP_AllowedSubmitter__c</object>
        <outputReference>curAllowedSubmitters</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ExtractUserSubmitters</name>
        <label>ExtractUserSubmitters</label>
        <locationX>169</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserNamesFromSubmitters</targetReference>
        </connector>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Creator</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Portal User</stringValue>
            </value>
        </filters>
        <object>AP_AllowedSubmitter__c</object>
        <outputReference>curUserSubmitters</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the definitions corresponding to this object type</description>
        <name>Get_Approval_Process_Defs</name>
        <label>Get Approval Process Defs</label>
        <locationX>332</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Process_Defs</targetReference>
        </connector>
        <filters>
            <field>ContextObjectTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objectTypeName</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessDefinition__c</object>
        <outputReference>curApprovalDefs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EntryCriteria__c</queriedFields>
        <queriedFields>EntryCriteriaMode__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Object_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Approval_Process_Instance_Records</name>
        <label>Create Approval Process Instance Records</label>
        <locationX>847</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>Iterate_Process_Defs</targetReference>
        </connector>
        <flowName>AP_Create_Approval_Process_Instance</flowName>
        <inputAssignments>
            <name>ApprovalCandidateRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>curApprovalProcessDefinition</name>
            <value>
                <elementReference>curProcessDef</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>curAllowedSubmitters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_AllowedSubmitter__c</objectType>
    </variables>
    <variables>
        <name>curApprovalDefs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curGroupSubmitters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_AllowedSubmitter__c</objectType>
    </variables>
    <variables>
        <name>curProcessDef</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curUserSubmitters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_AllowedSubmitter__c</objectType>
    </variables>
    <variables>
        <name>Formula_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>groupMemberNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isAllowedSubmitter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the object type of the context record.</description>
        <name>objectTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>roleMemberNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userMemberNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
