force-app/main/default/flows/AP_Manage_Step_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Multiple</name>
        <label>Assign Multiple</label>
        <locationX>587</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>curApprovalStepDef.SingleApproverOrMultiple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step_Def_with_Approver_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single</name>
        <label>Assign Single</label>
        <locationX>781</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>curApprovalStepDef.SingleApproverOrMultiple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step_Def_with_Approver_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Corresponding_Types</name>
        <label>Set Corresponding Types</label>
        <locationX>402</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>curApprovalStepDef.ApproverType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_approver_type.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalStepDef.DecisionCriteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_when_multiple_approvers.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Approver_Or_Multiple</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>approverType_adhoc</name>
        <choiceText>Let the submitter choose the approver manually.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>adhoc</stringValue>
        </value>
    </choices>
    <choices>
        <name>approverType_multiple</name>
        <choiceText>Build approver list</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>multiple</stringValue>
        </value>
    </choices>
    <choices>
        <name>approverType_queue</name>
        <choiceText>Automatically assign to queue.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>approverType_userHierarchyField</name>
        <choiceText>Automatically assign using the user field selected earlier. ([hierarchy role field name])</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>hierarchy-based</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceMajority</name>
        <choiceText>Approve or Reject based on the &lt;b&gt;MAJORITY&lt;/b&gt; of approvers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MajorityNeeded</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUnanimous</name>
        <choiceText>Require&amp;nbsp;&lt;b&gt;UNANIMOUS&lt;/b&gt;&amp;nbsp;approval from all selected approvers.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UnanimousNeeded</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUseFirstResponse</name>
        <choiceText>Approve or Reject based on the &lt;b&gt;First&lt;/b&gt; response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OneApprovalNeeded</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Single_Approver_Or_Multiple</name>
        <label>Single Approver Or Multiple</label>
        <locationX>585</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>Assign_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single</defaultConnectorLabel>
        <rules>
            <name>Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>select_approver_type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approverType_multiple</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Multiple</targetReference>
            </connector>
            <label>Multiple</label>
        </rules>
    </decisions>
    <interviewLabel>AP Manage Step Approvers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Manage Step Approvers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Step_Def_with_Approver_Details</name>
        <label>Update Step Def with Approver Details</label>
        <locationX>779</locationX>
        <locationY>277</locationY>
        <inputReference>curApprovalStepDef</inputReference>
    </recordUpdates>
    <screens>
        <name>Specify_Approvers</name>
        <label>Specify Approvers</label>
        <locationX>265</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Corresponding_Types</targetReference>
        </connector>
        <fields>
            <name>who_is_cur_approver</name>
            <fieldText>&lt;p&gt;{!curApprover.Id}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!curApprover.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!curApprover.Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>select_approver_type</name>
            <extensionName>c:expressChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Approver Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>Approver_Type_Labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Approver_Type_Values</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>curApprovalStepDef.ApproverType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Choice labels</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>role_manager_step_approvers2</name>
            <extensionName>c:roleManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addTabName</name>
                <value>
                    <stringValue>Add Approvers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editTabName</name>
                <value>
                    <stringValue>Edit Approvers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>curApprovalStepDef.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableObjectTypes</name>
                <value>
                    <stringValue>User, Group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>managerName</name>
                <value>
                    <stringValue>ManageApprovalStepApprovers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>supportedAddCapabilities</name>
                <value>
                    <stringValue>Add, Remove</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>supportedEditCapabilities</name>
                <value>
                    <stringValue>Remove</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>select_approver_type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>multiple</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>role_manager_step_approvers_queue</name>
            <extensionName>c:roleManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>curApprovalStepDef.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editTabName</name>
                <value>
                    <stringValue>Edit Approvers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addTabName</name>
                <value>
                    <stringValue>Add Approvers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableObjectTypes</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>managerName</name>
                <value>
                    <stringValue>ManageApprovalStepApprovers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>supportedAddCapabilities</name>
                <value>
                    <stringValue>Add, Remove</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>supportedEditCapabilities</name>
                <value>
                    <stringValue>Remove</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>select_approver_type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>approverType_queue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>select_when_multiple_approvers</name>
            <extensionName>c:expressChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>When multiple approvers are selected:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>when_multiple_approvers_labels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>when_multiple_approvers_values</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Choice labels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>curApprovalStepDef.DecisionCriteria__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>select_approver_type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>approverType_multiple</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Specify_Approvers</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Approver_Type_Labels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Let the submitter choose the approver manually;Build approver list;Automatically assign to queue.;Automatically assign using the user field selected earlier. ([hierarchy role field name])</stringValue>
        </value>
    </variables>
    <variables>
        <name>Approver_Type_Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>adhoc;multiple;queue;hierarchy-based</stringValue>
        </value>
    </variables>
    <variables>
        <name>curApprovalStepDef</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>CurApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>Selected_Approver_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>when_multiple_approvers_labels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Approve or Reject based on the MAJORITY of approvers;Require UNANIMOUS approval from all selected approvers.;Approve or Reject based on the First response</stringValue>
        </value>
    </variables>
    <variables>
        <name>when_multiple_approvers_values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>MajorityNeeded;UnanimousNeeded;OneApprovalNeeded</stringValue>
        </value>
    </variables>
</Flow>
