force-app/main/default/flows/AP_Manage_Approval_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Start assembling the Approval Process Definition</description>
        <name>Add_Name_to_Process</name>
        <label>Add Name to Process</label>
        <locationX>632</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Process_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AP_Edit_Approval_Process</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddStep</name>
        <choiceText>Add Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>create_Choice</name>
        <choiceText>Create New Approval Process</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>createChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done</name>
        <choiceText>Done with steps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>done</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>edit_choice</name>
        <choiceText>Edit Existing Approval Process</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EditApprovalProcess</elementReference>
        </value>
    </choices>
    <choices>
        <name>ModifyStep</name>
        <choiceText>Edit or Delete Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Selected_Id_is_Null</name>
        <label>Check Selected Id is Null</label>
        <locationX>1010</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Id_Selected</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Similar_Record_Found</name>
        <label>Check Similar Record Found</label>
        <locationX>381</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Add_Name_to_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name Available</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curApprovalProcessDefinition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSimilarApprovalProcess</targetReference>
            </connector>
            <label>Name Taken Already</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateOrEdit</name>
        <label>Create Or Edit</label>
        <locationX>255</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcomeCreateApprovalProcess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalProcessAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>create_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateApprovalProcess</targetReference>
            </connector>
            <label>Create Approval Process</label>
        </rules>
        <rules>
            <name>Edit_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalProcessAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>edit_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Process_Definitions</targetReference>
            </connector>
            <label>Edit Approval Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Approval_Process_Defs</name>
        <label>No Approval Process Defs?</label>
        <locationX>768</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Definitions</defaultConnectorLabel>
        <rules>
            <name>Approval_Process_Defs_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curApprovalProcessDefinitions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approval_Process</targetReference>
            </connector>
            <label>Definitions Exist</label>
        </rules>
    </decisions>
    <description>Main flow for defining and editing approval processes</description>
    <formulas>
        <name>ConvertRecordTypeDataToCSV</name>
        <dataType>String</dataType>
        <expression>{!curRecordType.Id}&amp;&quot;;&quot;&amp;{!curRecordType.DeveloperName}&amp;&quot;,&quot;</expression>
    </formulas>
    <interviewLabel>AP Manage Approval Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Manage Approval Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approval_Process_Definitions</name>
        <label>Get Approval Process Definitions</label>
        <locationX>550</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Approval_Process_Defs</targetReference>
        </connector>
        <object>ApprovalProcessDefinition__c</object>
        <outputReference>curApprovalProcessDefinitions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>AllowRecall__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Label__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Approval_Process</name>
        <label>Get Selected Approval Process</label>
        <locationX>838</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AP_Edit_Approval_Process</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessDefinition__c</object>
        <outputReference>curApprovalProcessDefinition</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Similiar_Record</name>
        <label>Get Similar Record</label>
        <locationX>256</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Similar_Record_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Approval_Process_Name</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessDefinition__c</object>
        <outputReference>curApprovalProcessDefinition</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>CreateCase_Plan</name>
        <label>Select Choice</label>
        <locationX>263</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateOrEdit</targetReference>
        </connector>
        <fields>
            <name>dispManageCasePlan</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Manage Approval Processes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalProcessAction</name>
            <choiceReferences>create_Choice</choiceReferences>
            <choiceReferences>edit_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!!</label>
        <locationX>449</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase_Plan</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;No Case Plans are defined.  Please create one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Id_Selected</name>
        <label>No Id Selected</label>
        <locationX>1201</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Approval_Process</targetReference>
        </connector>
        <fields>
            <name>ErrorNoId</name>
            <fieldText>&lt;p&gt;Please select an Approval Process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreateApprovalProcess</name>
        <label>Create Approval Process</label>
        <locationX>265</locationX>
        <locationY>386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similiar_Record</targetReference>
        </connector>
        <fields>
            <name>dispCreateApprovalProcessScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New ApprovalProcess&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approval_Process_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSimilarApprovalProcess</name>
        <label>Similar Approval Process</label>
        <locationX>392</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenCreateApprovalProcess</targetReference>
        </connector>
        <fields>
            <name>SimilarCasePlanMessage</name>
            <fieldText>&lt;p&gt;An approval process already exists with this name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Approval_Process</name>
        <label>Select Approval Process</label>
        <locationX>1018</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Id_is_Null</targetReference>
        </connector>
        <fields>
            <name>dispSelectApprovalProcess</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Select Approval Process to Edit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CasePlanDataTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>ApprovalProcessColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>curCasePlans</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>datatableSelectApprovalProcess</name>
            <extensionName>c:ApprovalProcessDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>approvalProcessDefinitionCollection</name>
                <value>
                    <elementReference>curApprovalProcessDefinitions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>ApprovalProcessColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDefinition</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedId</assignToReference>
                <name>isDefinition</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CreateCase_Plan</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>AP_Edit_Approval_Process</name>
        <label>AP Edit Approval Process</label>
        <locationX>830</locationX>
        <locationY>726</locationY>
        <flowName>AP_Edit_Approval_Processes</flowName>
    </subflows>
    <variables>
        <name>allSubmitterRoleStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApprovalProcessColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseStatesOrderCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&#39;Create&#39;</stringValue>
        </value>
    </variables>
    <variables>
        <name>createPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curCasePlan2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curCasePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curPlanSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <name>curRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>curRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>DeletePlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EditApprovalProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>editPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>indexCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>matchingCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>matchingCasePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlanStepFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;Parent/Predecessor,Start_When__c,text;Flow,Flow__c,text;Case Status,Associate_Case_Status__c,text;Required,Is_Required__c,boolean;</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeCSVVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The action that ManagePlan flow wants ManageStep flow to carry out</description>
        <name>requestedStepAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCaseStatusOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPlanStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SelectedRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedSubmitterRoles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
