force-app/main/default/flows/AP_Manage_Approval_Process_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>On an edit the full Step Def is passed in from the parent. In the case of an Add, we&#39;ve just received the Name and generated the ID. The ID has just been overwritten onto the main Step Def variable, and now we need to add the Name.</description>
        <name>Assign_Name_to</name>
        <label>Update Current Step Def</label>
        <locationX>738</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Step_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.ApprovalFlow_API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.RejectionFlow_API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.SingleApproverOrMultiple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.SingleApproverOrMultiple__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.EntryCriteria__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.EntryCriteriaMode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.EntryCriteriaDisplayType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Step_Added</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlwaysEnter</name>
        <choiceText>All records should enter this step.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>always</stringValue>
        </value>
    </choices>
    <choices>
        <name>approveRecord</name>
        <choiceText>Approve Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back1Step</name>
        <choiceText>Perform ONLY the rejection actions for this step and send the approval request back to the most recent approver.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back1Step</stringValue>
        </value>
    </choices>
    <choices>
        <name>CriteriaBased</name>
        <choiceText>Evaluate some expression criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CriteriaExpression</stringValue>
        </value>
    </choices>
    <choices>
        <name>CriteriaOrFormula</name>
        <choiceText>Use criteria or a formula</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnterStep</name>
        <choiceText>Enter the step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>enterStep</stringValue>
        </value>
    </choices>
    <choices>
        <name>EvaluateFormula</name>
        <choiceText>Evaluate a formula</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>formula</stringValue>
        </value>
    </choices>
    <choices>
        <name>FinalRejection</name>
        <choiceText>Perform all rejection actions for this step AND all final rejection actions. (Final Rejection)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>finalRejection</stringValue>
        </value>
    </choices>
    <choices>
        <name>SkipToNextStep</name>
        <choiceText>Go to next step (skip this one)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>skip</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Rejection behavior is not configurable for the first step. This is probably because &quot;Back 1 Step&quot; doesn&#39;t make any sense. This feels hacky. Better solution would probably be to provide a checkbox that allows Final Rejection to be instantiated, and not show the Back 1 step choice</description>
        <name>Check_Step_Order</name>
        <label>Check Step Order</label>
        <locationX>1459</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Rejection_Behavior</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not First Step</defaultConnectorLabel>
        <rules>
            <name>This_is_First_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curApprovalProcessStepDefinition.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>foo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Step</targetReference>
            </connector>
            <label>This is First Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Similar_Name_Exist</name>
        <label>Similar Name Exist</label>
        <locationX>369</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Approval_Process_Step_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&#39;t Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchingApprovalProcessStepDefinition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Screen</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Operation</name>
        <label>Which Operation?</label>
        <locationX>625</locationX>
        <locationY>154</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddStepPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestedStepAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Step</targetReference>
            </connector>
            <label>Add Step</label>
        </rules>
        <rules>
            <name>EditStepPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestedStepAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Step_Actions</targetReference>
            </connector>
            <label>Edit Step</label>
        </rules>
        <rules>
            <name>DeleteStepPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestedStepAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <label>Delete Step</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rejectBehaviorPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RejectBehavior__c</picklistField>
        <picklistObject>ApprovalProcessStepDefinition__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>AP Manage Approval Process Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Manage Approval Process Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Process_Step_Record</name>
        <label>Create Approval Process Step Record</label>
        <locationX>592</locationX>
        <locationY>522</locationY>
        <assignRecordIdToReference>curApprovalProcessStepDefinition.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Name_to</targetReference>
        </connector>
        <inputAssignments>
            <field>ApprovalProcessDefinition__c</field>
            <value>
                <elementReference>curApprovalProcessDefinition.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntryCriteriaDisplayType__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EntryCriteriaMode__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EntryCriteria__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Proposed_Step_Name</elementReference>
            </value>
        </inputAssignments>
        <object>ApprovalProcessStepDefinition__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Similar_Name_Record</name>
        <label>Get Similar Name Record</label>
        <locationX>420</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Similar_Name_Exist</targetReference>
        </connector>
        <filters>
            <field>ApprovalProcessDefinition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessDefinition.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Proposed_Step_Name</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessStepDefinition__c</object>
        <outputReference>matchingApprovalProcessStepDefinition</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Step</name>
        <label>Update Approval Step</label>
        <locationX>1752</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>Updated_Successfully</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessStepDefinition.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovalFlow_API_Name__c</field>
            <value>
                <elementReference>approvalFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RejectBehavior__c</field>
            <value>
                <elementReference>rejectBehaviorPCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RejectionFlow_API_Name__c</field>
            <value>
                <elementReference>rejectionFlowName</elementReference>
            </value>
        </inputAssignments>
        <object>ApprovalProcessStepDefinition__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Step</name>
        <label>Create Step</label>
        <locationX>197</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similar_Name_Record</targetReference>
        </connector>
        <fields>
            <name>AddStepHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Add Approval Process  Step&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Proposed_Step_Name</name>
            <dataType>String</dataType>
            <fieldText>Approval Step Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>193</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Step</targetReference>
        </connector>
        <fields>
            <name>DisplayTextScreenMessage</name>
            <fieldText>&lt;p&gt;A step with this name already exists. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejection_Behavior</name>
        <label>Configure Rejection Behavior</label>
        <locationX>1466</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Approval_Step</targetReference>
        </connector>
        <fields>
            <name>What_should_happen_if_the_approver_rejects_this_request</name>
            <choiceReferences>rejectBehaviorPCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What should happen if the approver rejects this request?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Step_Actions</name>
        <label>Select Step Actions</label>
        <locationX>984</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Specify_Entry_Criteria_for_Step</targetReference>
        </connector>
        <fields>
            <name>EditScreenDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Select Step Actions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseStepName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step Name &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!curApprovalProcessStepDefinition.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalFlow</name>
            <extensionName>c:flowListFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Run which flow when this step is APPROVED:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFlowApiName</name>
                <value>
                    <elementReference>curApprovalProcessStepDefinition.ApprovalFlow_API_Name__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>approvalFlowName</assignToReference>
                <name>selectedFlowApiName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RejectionFlow</name>
            <extensionName>c:flowListFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Run this flow when this Approval Step is REJECTED:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFlowApiName</name>
                <value>
                    <elementReference>curApprovalProcessStepDefinition.RejectionFlow_API_Name__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>rejectionFlowName</assignToReference>
                <name>selectedFlowApiName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>IMPORTANT! This screen forces an important transaction. removing this will cause bugs.</description>
        <name>Step_Added</name>
        <label>Step Added</label>
        <locationX>876</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Step_Actions</targetReference>
        </connector>
        <fields>
            <name>dispAddComplete</name>
            <fieldText>&lt;p&gt;Step added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Updated_Successfully</name>
        <label>Updated Successfully</label>
        <locationX>1753</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UpdateMessageScreen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Approval Process Step Updated Successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>145</locationY>
        <connector>
            <targetReference>Which_Operation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Manage_Approvers_for_Step</name>
        <label>Manage Approvers for Step</label>
        <locationX>1321</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>Check_Step_Order</targetReference>
        </connector>
        <flowName>AP_Manage_Step_Approvers</flowName>
        <inputAssignments>
            <name>curApprovalStepDef</name>
            <value>
                <elementReference>curApprovalProcessStepDefinition</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Specify_Entry_Criteria_for_Step</name>
        <label>Specify Entry Criteria for Step</label>
        <locationX>1155</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Manage_Approvers_for_Step</targetReference>
        </connector>
        <flowName>AP_Specify_Entry_Criteria</flowName>
        <inputAssignments>
            <name>contextObjectType</name>
            <value>
                <elementReference>curApprovalProcessDefinition.ContextObjectTypeName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>curApprovalProcessDefinition</name>
            <value>
                <elementReference>curApprovalProcessDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>curApprovalProcessStepDefinition</name>
            <value>
                <elementReference>curApprovalProcessStepDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectType</name>
            <value>
                <stringValue>approval process step</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>curApprovalProcessStepDefinition.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>approvalFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessStepDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <description>Used to check for duplicate names</description>
        <name>matchingApprovalProcessStepDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>rejectionFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestedStepAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApprovalProcessStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
