force-app/main/default/flows/AP_Manage_Approval_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Start assembling the Approval Process Definition</description>
        <name>Configure_Definition</name>
        <label>Configure Definition</label>
        <locationX>563</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Process_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.ContextObjectTypeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssociatedObjectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.ActionFlow_InitialSubmission__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.ActionFlow_FinalRejection__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.ActionFlow_FinalApproval__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.ActionFlow_Recall__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.EntryCriteria__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.EntryCriteriaDisplayType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.EntryCriteriaMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Always Enter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Process_Definition</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>create_Choice</name>
        <choiceText>Create New Approval Process</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>createChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done</name>
        <choiceText>Done with steps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>done</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>edit_choice</name>
        <choiceText>Edit Existing Approval Process</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EditApprovalProcess</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Selected_Id_is_Null</name>
        <label>Check Selected Id is Null</label>
        <locationX>1010</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingApprovalProcessDefinitionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Id_Selected</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Similar_Record_Found</name>
        <label>Check Similar Record Found</label>
        <locationX>381</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Configure_Definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name Available</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curApprovalProcessDefinition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSimilarApprovalProcess</targetReference>
            </connector>
            <label>Name Taken Already</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateOrEdit</name>
        <label>Create Or Edit</label>
        <locationX>255</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcomeCreateApprovalProcess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalProcessAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>create_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateApprovalProcess</targetReference>
            </connector>
            <label>Create Approval Process</label>
        </rules>
        <rules>
            <name>Edit_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalProcessAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>edit_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Process_Definitions</targetReference>
            </connector>
            <label>Edit Approval Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Approval_Process_Defs</name>
        <label>No Approval Process Defs?</label>
        <locationX>768</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Definitions</defaultConnectorLabel>
        <rules>
            <name>Approval_Process_Defs_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curApprovalProcessDefinitions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Approval_Process</targetReference>
            </connector>
            <label>Definitions Exist</label>
        </rules>
    </decisions>
    <description>Main flow for defining and editing approval processes</description>
    <interviewLabel>AP Manage Approval Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Manage Approval Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Process_Definition</name>
        <label>Create Approval Process Definition</label>
        <locationX>699</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>AP_Edit_Approval_Process</targetReference>
        </connector>
        <inputReference>curApprovalProcessDefinition</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Process_Definitions</name>
        <label>Get Approval Process Definitions</label>
        <locationX>550</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Approval_Process_Defs</targetReference>
        </connector>
        <object>ApprovalProcessDefinition__c</object>
        <outputReference>curApprovalProcessDefinitions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>AllowRecall__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Label__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Approval_Process</name>
        <label>Get Selected Approval Process</label>
        <locationX>833</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AP_Edit_Approval_Process</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingApprovalProcessDefinitionId</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessDefinition__c</object>
        <outputReference>curApprovalProcessDefinition</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContextObjectTypeName__c</queriedFields>
        <queriedFields>ActionFlow_FinalApproval__c</queriedFields>
        <queriedFields>ActionFlow_InitialSubmission__c</queriedFields>
        <queriedFields>ActionFlow_FinalRejection__c</queriedFields>
        <queriedFields>ActionFlow_Recall__c</queriedFields>
        <queriedFields>EntryCriteria__c</queriedFields>
        <queriedFields>EntryCriteriaDisplayType__c</queriedFields>
        <queriedFields>EntryCriteriaMode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Similiar_Record</name>
        <label>Get Similar Record</label>
        <locationX>256</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Similar_Record_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Approval_Process_Name</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessDefinition__c</object>
        <outputReference>curApprovalProcessDefinition</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContextObjectTypeName__c</queriedFields>
        <queriedFields>ActionFlow_FinalApproval__c</queriedFields>
        <queriedFields>ActionFlow_InitialSubmission__c</queriedFields>
        <queriedFields>ActionFlow_FinalRejection__c</queriedFields>
        <queriedFields>ActionFlow_Recall__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_or_Edit</name>
        <label>Create or Edit</label>
        <locationX>263</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateOrEdit</targetReference>
        </connector>
        <fields>
            <name>dispManageApprovalProcesses</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Manage Approval Processes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalProcessAction</name>
            <choiceReferences>create_Choice</choiceReferences>
            <choiceReferences>edit_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!!</label>
        <locationX>449</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_or_Edit</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;No Approval Processes are defined.  Please create one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Id_Selected</name>
        <label>No Id Selected</label>
        <locationX>1201</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Approval_Process</targetReference>
        </connector>
        <fields>
            <name>ErrorNoId</name>
            <fieldText>&lt;p&gt;Please select an Approval Process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreateApprovalProcess</name>
        <label>Create Approval Process</label>
        <locationX>266</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similiar_Record</targetReference>
        </connector>
        <fields>
            <name>dispCreateApprovalProcessScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New ApprovalProcess&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approval_Process_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pick_Object</name>
            <extensionName>c:pickObjectAndFieldFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Pick an Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableObjectPicklist</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectLabel</name>
                <value>
                    <stringValue>Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldType</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideFieldPicklist</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideObjectPicklist</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <elementReference>AssociatedObjectType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AssociatedObjectType</assignToReference>
                <name>objectType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSimilarApprovalProcess</name>
        <label>Similar Approval Process</label>
        <locationX>392</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenCreateApprovalProcess</targetReference>
        </connector>
        <fields>
            <name>dispSimilarApprovalProcessMessage</name>
            <fieldText>&lt;p&gt;An approval process already exists with this name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Approval_Process</name>
        <label>Select Approval Process</label>
        <locationX>1018</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Id_is_Null</targetReference>
        </connector>
        <fields>
            <name>dispSelectApprovalProcess</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Select Approval Process to Edit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatableSelectApprovalProcess</name>
            <extensionName>c:ApprovalProcessDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>approvalProcessDefinitionCollection</name>
                <value>
                    <elementReference>curApprovalProcessDefinitions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>ApprovalProcessColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDefinition</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>existingApprovalProcessDefinitionId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_or_Edit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AP_Edit_Approval_Process</name>
        <label>AP Edit Approval Process</label>
        <locationX>830</locationX>
        <locationY>725</locationY>
        <flowName>AP_Edit_Approval_Processes</flowName>
        <inputAssignments>
            <name>curApprovalProcessDefinition</name>
            <value>
                <elementReference>curApprovalProcessDefinition</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>curApprovalProcessDefinition</assignToReference>
            <name>curApprovalProcessDefinition</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ApprovalProcessColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Name,Name,text;</stringValue>
        </value>
    </variables>
    <variables>
        <name>AssociatedObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&#39;Create&#39;</stringValue>
        </value>
    </variables>
    <variables>
        <name>curApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>EditApprovalProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>existingApprovalProcessDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
