force-app/main/default/flows/AP_Manage_Step_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Type_to_Adhoc</name>
        <label>Set Type to Adhoc</label>
        <locationX>567</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>curApprovalStep.SingleApproverOrMultiple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalStep.ApproverType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>adhoc</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Build_List</name>
        <label>Set Type to Build List</label>
        <locationX>773</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>curApprovalStep.SingleApproverOrMultiple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalStep.ApproverType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>multiple</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>User can define a role in the parent approval process, and users with that role become the approved approvers for this step</description>
        <name>Set_Type_to_Hierarchy</name>
        <label>Set Type to Hierarchy</label>
        <locationX>405</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>curApprovalStep.SingleApproverOrMultiple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalStep.ApproverType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hierarchy-based</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Queue</name>
        <label>Set Type to Queue</label>
        <locationX>449</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>curApprover.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalStep.SingleApproverOrMultiple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Single</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalStep.ApproverType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approver</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>approverType_adhoc</name>
        <choiceText>Let the submitter choose the approver manually.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>adhoc</stringValue>
        </value>
    </choices>
    <choices>
        <name>approverType_multiple</name>
        <choiceText>Build approver list</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>multiple</stringValue>
        </value>
    </choices>
    <choices>
        <name>approverType_queue</name>
        <choiceText>Automatically assign to queue.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>approverType_userHierarchyField</name>
        <choiceText>Automatically assign using the user field selected earlier. ([hierarchy role field name])</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>hierarchy</stringValue>
        </value>
    </choices>
    <decisions>
        <description>If the type is not a list then just retrieve the single approver</description>
        <name>One_Approver_or_a_Set</name>
        <label>One Approver or a Set?</label>
        <locationX>33</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>GetApprover</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Approver</defaultConnectorLabel>
        <rules>
            <name>Multiple_Approvers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curApprovalStep.SingleApproverOrMultiple__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetApprovers</targetReference>
            </connector>
            <label>Multiple Approvers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Approver_Type</name>
        <label>Which Approver Type?</label>
        <locationX>395</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Set_Type_to_Hierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hierarchy Field</defaultConnectorLabel>
        <rules>
            <name>Build_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approverType_multiple</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSelect_Approvers</targetReference>
            </connector>
            <label>Build List</label>
        </rules>
        <rules>
            <name>Use_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approverType_queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Queue</targetReference>
            </connector>
            <label>Use Queue</label>
        </rules>
        <rules>
            <name>Set_Manually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approverType_adhoc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Adhoc</targetReference>
            </connector>
            <label>Set Manually</label>
        </rules>
    </decisions>
    <interviewLabel>AP Manage Step Approvers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Manage Step Approvers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetApprover</name>
        <label>GetApprover</label>
        <locationX>270</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specify_Approvers</targetReference>
        </connector>
        <filters>
            <field>Approval_Process_Step_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curStepId</elementReference>
            </value>
        </filters>
        <object>AP_Approver__c</object>
        <outputReference>curApprover</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Existing approvers that belong to this ApproverSet</description>
        <name>GetApprovers</name>
        <label>GetApprovers</label>
        <locationX>154</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specify_Approvers</targetReference>
        </connector>
        <filters>
            <field>Approval_Process_Step_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalStep.Id</elementReference>
            </value>
        </filters>
        <object>AP_Approver__c</object>
        <outputReference>CurApprovers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approver</name>
        <label>Update Approver</label>
        <locationX>795</locationX>
        <locationY>450</locationY>
        <inputReference>curApprover</inputReference>
    </recordUpdates>
    <screens>
        <description>get back a list of Approvers and update</description>
        <name>screenSelect_Approvers</name>
        <label>Select Approvers</label>
        <locationX>673</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Type_to_Build_List</targetReference>
        </connector>
        <fields>
            <name>Select_Approvers</name>
            <fieldText>&lt;p&gt;Select Approvers&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Specify_Approvers</name>
        <label>Specify Approvers</label>
        <locationX>263</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Approver_Type</targetReference>
        </connector>
        <fields>
            <name>ApproverType</name>
            <choiceReferences>approverType_adhoc</choiceReferences>
            <choiceReferences>approverType_userHierarchyField</choiceReferences>
            <choiceReferences>approverType_queue</choiceReferences>
            <choiceReferences>approverType_multiple</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ApproverType</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Queue</name>
            <dataType>String</dataType>
            <fieldText>Select Queue (lookup placeholder)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>One_Approver_or_a_Set</startElementReference>
    <status>Draft</status>
    <variables>
        <name>approverCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>curApprovalStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_Approver__c</objectType>
    </variables>
    <variables>
        <name>CurApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_Approver__c</objectType>
    </variables>
    <variables>
        <name>curStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
