force-app/main/default/flows/AP_Manage_Approval_Process_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignValue_To_Parent_String</name>
        <label>AssignValue To Parent String</label>
        <locationX>596</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>caseStepAvailableParentsCSV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aggregateStepNamesFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Plan_Steps_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Output</name>
        <label>Store Output</label>
        <locationX>218</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created By User</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This exists solely to cover the possibility that the user might hit the previous button when they get to the next screen. The initial value of the flow picker is set to the database value, so if they change it at the screen before this and then hit previous, it will reload the database value and not the value they have just changed it to.</description>
        <name>Update_PlanStepRecord</name>
        <label>Update PlanStepRecord</label>
        <locationX>1222</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>PlanStepRecord.Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedFlowName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Selected_Plan_Step</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Which_Type</name>
        <label>Create Which Type?</label>
        <locationX>50</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan_Step_Record</targetReference>
            </connector>
            <label>Standard Plan Step</label>
        </rules>
        <rules>
            <name>AdHoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AdHoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Case_Steps</targetReference>
            </connector>
            <label>AdHoc Case Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation_On_Plan_Step</name>
        <label>Operation On Plan Step</label>
        <locationX>784</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddStepPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestedStepAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Which_Type</targetReference>
            </connector>
            <label>Add Step</label>
        </rules>
        <rules>
            <name>EditStepPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestedStepAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Plan_Step</targetReference>
            </connector>
            <label>Edit Step</label>
        </rules>
        <rules>
            <name>DeleteStepPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestedStepAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Plan_Step_Record</targetReference>
            </connector>
            <label>Delete Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Similar_Name_Exist</name>
        <label>Similar Name Exist</label>
        <locationX>821</locationX>
        <locationY>685</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanStepRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Screen</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanStepRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Plan_Step_Record</targetReference>
            </connector>
            <label>Not Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>aggregateStepNamesFormula</name>
        <dataType>String</dataType>
        <expression>{!PlanStepRecord.Name}&amp;&quot;;&quot;&amp;{!PlanStepRecord.Name}&amp;&quot;,&quot;</expression>
    </formulas>
    <interviewLabel>AP Manage Approval Process Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Manage Approval Process Step</label>
    <loops>
        <name>Loop_Over_Plan_Steps_Records</name>
        <label>Loop Over Plan Steps Records</label>
        <locationX>408</locationX>
        <locationY>267</locationY>
        <assignNextValueToReference>PlanStepRecord</assignNextValueToReference>
        <collectionReference>PlanStepsRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValue_To_Parent_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Step</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Step</name>
        <label>Create Case Step</label>
        <locationX>54</locationX>
        <locationY>561</locationY>
        <assignRecordIdToReference>newCaseStepRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CreateUserScreenSuccessMesage</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Status__c</field>
            <value>
                <elementReference>CurrentStatusCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_By_User__c</field>
            <value>
                <elementReference>selectedFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Plan_Step_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlanStepOrder__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Step__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Plan_Step_Record</name>
        <label>Create Plan Step Record</label>
        <locationX>1088</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>Associate_Case_Status__c</field>
            <value>
                <elementReference>selectedCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Plan__c</field>
            <value>
                <elementReference>CasePlanRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>selectedFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Required__c</field>
            <value>
                <elementReference>Is_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Step_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_When__c</field>
            <value>
                <elementReference>selectedParent</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_Step__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Selected_Plan_Step_Record</name>
        <label>Delete Selected Plan Step Record</label>
        <locationX>792</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Delete_Message</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Plan_Step_Record</name>
        <label>Get Plan Step Record</label>
        <locationX>237</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Plan_Steps_Records</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CasePlanRecord.Id</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Plan_Step</name>
        <label>Get Selected Plan Step</label>
        <locationX>970</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Plan_Step</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
        <queriedFields>Flow__c</queriedFields>
        <queriedFields>Associate_Case_Status__c</queriedFields>
        <queriedFields>Start_When__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Similar_Name_Record</name>
        <label>Get Similar Name Record</label>
        <locationX>829</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Similar_Name_Exist</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CasePlanRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Step_Name</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected_Plan_Step</name>
        <label>Update Selected Plan Step</label>
        <locationX>1336</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Updated_Successfully</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>selectedFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Required__c</field>
            <value>
                <elementReference>Is_RequiredEdit</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_Step__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Step</name>
        <label>Create Step</label>
        <locationX>405</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similar_Name_Record</targetReference>
        </connector>
        <fields>
            <name>AddStepHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Add Case Plan Step&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Name</name>
            <dataType>String</dataType>
            <fieldText>Plan Step Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>selectCaseStatusPicklist</name>
            <extensionName>c:csvPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelPicklist</name>
                <value>
                    <stringValue>Add to which Case Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CSVString</name>
                <value>
                    <elementReference>orderedCaseStatusCSV</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedString</name>
                <value>
                    <elementReference>selectedCaseStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listType</name>
                <value>
                    <stringValue>simple</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCaseStatus</assignToReference>
                <name>selectedString</name>
            </outputParameters>
        </fields>
        <fields>
            <name>showFlowList</name>
            <extensionName>c:flowListFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedFlowApiName</name>
                <value>
                    <elementReference>selectedFlowName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Run which flow when this step starts?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedFlowName</assignToReference>
                <name>selectedFlowApiName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>selectParentStepPicklist</name>
            <extensionName>c:csvPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelPicklist</name>
                <value>
                    <stringValue>Specify a predecessor (parent) Plan Step</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CSVString</name>
                <value>
                    <elementReference>caseStepAvailableParentsCSV</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedString</name>
                <value>
                    <elementReference>selectedParent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listType</name>
                <value>
                    <stringValue>complex</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedParent</assignToReference>
                <name>selectedString</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AlertForCaseStepParent</name>
            <fieldText>&lt;p&gt;If you specify a predecessor, this step cannot be started until the predecessor has completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>Make this step required. Its associated flow must be completed before the case can transition to the next case status.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateUserScreenSuccessMesage</name>
        <label>CreateUserScreenSuccessMesage</label>
        <locationX>218</locationX>
        <locationY>560</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Store_Output</targetReference>
        </connector>
        <fields>
            <name>MessageCreateUser</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Step Added. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Message</name>
        <label>Delete Message</label>
        <locationX>980</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DeleteMessage</name>
            <fieldText>Plan Step Deleted Successfully!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Case_Steps</name>
        <label>Manage Case Steps</label>
        <locationX>54</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Step</targetReference>
        </connector>
        <fields>
            <name>AddStepHeadingUser</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Add Case Step&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Plan_Step_Name</name>
            <dataType>String</dataType>
            <fieldText>Step Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>selectFlow</name>
            <extensionName>c:flowListFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Run which flow when this step is started?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedFlowName</assignToReference>
                <name>selectedFlowApiName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dispCasestep</name>
            <fieldText>&lt;p&gt;This will add a single case step to this particular case. If you want to change all subsequent cases to have this step, contact your admin.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>543</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Step</targetReference>
        </connector>
        <fields>
            <name>DisplayTextScreenMessage</name>
            <fieldText>&lt;p&gt;A step with this name already exists. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Plan_Step</name>
        <label>Update Plan Step</label>
        <locationX>1146</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_PlanStepRecord</targetReference>
        </connector>
        <fields>
            <name>UpdateScreenDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Update Step&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseStepName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step Name:&lt;/b&gt; {!PlanStepRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispAssociatedStatus</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Status: &lt;/b&gt;{!PlanStepRecord.Associate_Case_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parent</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Predecessor Step: &lt;/b&gt;{!PlanStepRecord.Start_When__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ToolTipMessage</name>
            <fieldText>&lt;p&gt;The above values cannot be changed in order to protect existing deployments. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_RequiredEdit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>PlanStepRecord.Is_Required__c</elementReference>
            </defaultValue>
            <fieldText>Required. This step&#39;s associated flow must be completed before the case can transition to the next case status.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flowList2</name>
            <extensionName>c:flowListFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Run which flow when this step starts:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFlowApiName</name>
                <value>
                    <elementReference>PlanStepRecord.Flow__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedFlowName</assignToReference>
                <name>selectedFlowApiName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Updated_Successfully</name>
        <label>Updated Successfully</label>
        <locationX>1335</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UpdateMessageScreen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Step Updated Successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Operation_On_Plan_Step</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CasePlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>caseStepAvailableParentsCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>curApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>CurrentStatusCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeleteDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EditDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newCaseStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Step__c</objectType>
    </variables>
    <variables>
        <name>orderedCaseStatusCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlanStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <name>PlanStepsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <description>The action requested by the calling Manage Case Plan flow</description>
        <name>requestedStepAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>can be &quot;AdHoc&quot; or &quot;Standard&quot;. A Standard request is made through the plan management flows, generally by an admin. It creates a &#39;permanent&#39; Plan Step that will be used for all subsequent Case Plans. AdHoc steps are added by a user to their current Case Plan.</description>
        <name>requestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPlanStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
