force-app/main/default/flows/AP_Process_Approval_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>placeholder_for_Evaluate_Formula</name>
        <label>placeholder for Evaluate Formula</label>
        <locationX>685</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>placeholder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>placeholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>placeholder_for_Lock_Record</name>
        <label>placeholder for Lock Record</label>
        <locationX>531</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>placeholder</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>placeholder_for_Evaluate_Formula</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enter_Step</name>
        <label>Enter Step?</label>
        <locationX>678</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntryCriteriaMet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Step_Approvers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>AP Process Approval Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Process Approval Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AP_Step_Instance</name>
        <label>Get AP Step Instance</label>
        <locationX>385</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>placeholder_for_Lock_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessInstance.Current_Approval_Step__c</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessStepInstance__c</object>
        <outputReference>curAPStepInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Approval_Process_Step_Definition__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Process_Instance</name>
        <label>Get Approval Process Instance</label>
        <locationX>233</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AP_Step_Instance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curProcessInstanceId</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessInstance__c</object>
        <outputReference>curApprovalProcessInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Current_Approval_Step__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>These are all of the entities allowed to approve this step.</description>
        <name>Get_Step_Approvers</name>
        <label>Get Step Approvers</label>
        <locationX>243</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Approval_Process_Step_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAPStepInstance.Approval_Process_Step_Definition__c</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>curStepApprovers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Approval_Process_Instance</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curApprovalProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessInstance__c</objectType>
    </variables>
    <variables>
        <name>curAPStepInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessStepInstance__c</objectType>
    </variables>
    <variables>
        <name>curProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curStepApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>EntryCriteriaMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>placeholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
