force-app/main/default/flows/AP_Process_Approval_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This is the url that will go in the body of the notification email being sent out.</description>
        <name>Generate_Response_Link</name>
        <label>Generate Response Link</label>
        <locationX>705</locationX>
        <locationY>962</locationY>
        <actionName>GenerateFlowLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>param1Value</name>
            <value>
                <elementReference>curApproverStepTaskId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>AP_User_Approves_or_Rejects</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param1Name</name>
            <value>
                <stringValue>processStepTaskId</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>responseFlowLink</assignToReference>
            <name>flowLink</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Approver_User_Id</name>
        <label>Get Approver User Id</label>
        <locationX>1271</locationX>
        <locationY>466</locationY>
        <actionName>GetFieldValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Hierarchy_Field_Populated</targetReference>
        </connector>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <elementReference>curAPDefinition.Automated_Approver_Role__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterValue</name>
            <value>
                <elementReference>candidate_record_owner_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>candidate_record_owner_id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>hierarchy_user_id</assignToReference>
            <name>fieldValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Candidate_Record_Owner</name>
        <label>Get Candidate Record Owner</label>
        <locationX>1269</locationX>
        <locationY>232</locationY>
        <actionName>GetFieldValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Approver_User_Id</targetReference>
        </connector>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterValue</name>
            <value>
                <elementReference>curApprovalProcessInstance.approvalProcessCandidateRecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>curApprovalProcessInstance.approvalProcessCandidateRecordId__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>candidate_record_owner_id</assignToReference>
            <name>fieldValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Status</name>
        <label>Log Status</label>
        <locationX>102</locationX>
        <locationY>203</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Approval_Process_Instance</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>curUsername</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>StatusUpdate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_Error</name>
        <label>Post Chatter Error</label>
        <locationX>141</locationX>
        <locationY>811</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>emailErrorText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>curUsername</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>496</locationX>
        <locationY>980</locationY>
        <actionName>SendHTMLEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Sent_Successfully</targetReference>
        </connector>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>templateEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <stringValue>Approval Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>test subject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>curEmailAddress</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>emailErrorText</assignToReference>
            <name>errors</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>emailSentSuccessfully</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Extract_Email_Address</name>
        <label>Extract Email Address</label>
        <locationX>552</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>curEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Step_Task_If_Extant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>placeholder_for_Evaluate_Formula</name>
        <label>placeholder for Evaluate Formula</label>
        <locationX>806</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>placeholder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>placeholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>placeholder_for_Lock_Record</name>
        <label>placeholder for Lock Record</label>
        <locationX>952</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>placeholder</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>placeholder_for_Evaluate_Formula</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_StepTaskId</name>
        <label>Use StepTaskId</label>
        <locationX>861</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>curApproverStepTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curStepTask.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Response_Link</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Step_Task_Already_Exist</name>
        <label>Does Step Task Already Exist?</label>
        <locationX>772</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Create_Step_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_steptask_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curStepTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_StepTaskId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent_Successfully</name>
        <label>Email Sent Successfully?</label>
        <locationX>331</locationX>
        <locationY>812</locationY>
        <defaultConnector>
            <targetReference>Post_Chatter_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Error</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailSentSuccessfully</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Hierarchy_Based_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enter_Step</name>
        <label>Enter Step?</label>
        <locationX>678</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntryCriteriaMet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Step_Approvers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Hierarchy_Based</name>
        <label>Is Hierarchy Based</label>
        <locationX>944</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>placeholder_for_Lock_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Hierarcy_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curAPStepDefinition.ApproverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>hierarchy-based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AP_Definition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Hierarchy_Based_0</name>
        <label>Is Hierarchy Based</label>
        <locationX>220</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Hierarcy_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curAPStepDefinition.ApproverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>hierarchy-based</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Hierarchy_Field_Populated</name>
        <label>Is Hierarchy Field Populated</label>
        <locationX>1141</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>placeholder_for_Lock_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Hierarchy_Field_Populated_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hierarchy_user_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Hierarchy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Approver_Field_on_Record_Owner</name>
        <label>Use Approver Field on Record Owner</label>
        <locationX>1142</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>placeholder_for_Lock_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Use_Approver_Field_on_Record_Owner_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curAPDefinition.useApproverFieldOfRecordOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate_Record_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Approver</name>
        <label>What Type of Approver?</label>
        <locationX>415</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curApprover.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <formulas>
        <name>curUsername</name>
        <dataType>String</dataType>
        <expression>{!$User.Username}</expression>
    </formulas>
    <interviewLabel>AP Process Approval Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Process Approval Step</label>
    <loops>
        <name>Iterate_Over_Approvers</name>
        <label>Iterate Over Approvers</label>
        <locationX>227</locationX>
        <locationY>361</locationY>
        <assignNextValueToReference>curApprover</assignNextValueToReference>
        <collectionReference>curStepApprovers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Type_of_Approver</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>A StepTask is created for each target approver to track their responses (or lack thereof)</description>
        <name>Create_Step_Task</name>
        <label>Create Step Task</label>
        <locationX>691</locationX>
        <locationY>768</locationY>
        <assignRecordIdToReference>curApproverStepTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Generate_Response_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Process_Step_Instance__c</field>
            <value>
                <elementReference>curAPStepInstance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_User__c</field>
            <value>
                <elementReference>curUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Approval_Process_Instance__c</field>
            <value>
                <elementReference>curApprovalProcessInstance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Process_Step_Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AP_Definition</name>
        <label>Get AP Definition</label>
        <locationX>1150</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Use_Approver_Field_on_Record_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAPStepDefinition.ApprovalProcessDefinition__c</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessDefinition__c</object>
        <outputReference>curAPDefinition</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Automated_Approver_Role__c</queriedFields>
        <queriedFields>useApproverFieldOfRecordOwner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_AP_Step_Definition</name>
        <label>Get AP Step Definition</label>
        <locationX>562</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Hierarchy_Based</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessInstance.Current_Approval_Step__c</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessStepDefinition__c</object>
        <outputReference>curAPStepDefinition</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ApproverType__c</queriedFields>
        <queriedFields>ApprovalProcessDefinition__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_AP_Step_Instance</name>
        <label>Get Current AP Step</label>
        <locationX>395</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AP_Step_Definition</targetReference>
        </connector>
        <filters>
            <field>Approval_Process_Step_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessInstance.Current_Approval_Step__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Approval_Process_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessInstance.Id</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessStepInstance__c</object>
        <outputReference>curAPStepInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Approval_Process_Step_Definition__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Process_Instance</name>
        <label>Get Approval Process Instance</label>
        <locationX>235</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AP_Step_Instance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curProcessInstanceId</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessInstance__c</object>
        <outputReference>curApprovalProcessInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Current_Approval_Step__c</queriedFields>
        <queriedFields>approvalProcessCandidateRecordId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>These are all of the entities allowed to approve this step.</description>
        <name>Get_Step_Approvers</name>
        <label>Get Step Approvers</label>
        <locationX>227</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Approvers</targetReference>
        </connector>
        <filters>
            <field>Approval_Process_Step_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAPStepInstance.Approval_Process_Step_Definition__c</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>curStepApprovers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Step_Task_If_Extant</name>
        <label>Get Step Task If Extant</label>
        <locationX>559</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Step_Task_Already_Exist</targetReference>
        </connector>
        <filters>
            <field>Approval_Process_Step_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAPStepInstance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curUser.Id</elementReference>
            </value>
        </filters>
        <object>Approval_Process_Step_Task__c</object>
        <outputReference>curStepTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>432</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Email_Address</targetReference>
        </connector>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprover.Name</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>curUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Hierarchy</name>
        <label>Get User Hierarchy</label>
        <locationX>1149</locationX>
        <locationY>624</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Email_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>hierarchy_user_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>curUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Log_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>StatusUpdate</name>
        <text>&lt;p&gt;Process Approval Step has executed.&lt;/p&gt;&lt;p&gt;Cur Approval Process Instance is:  {!curProcessInstanceId}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailBody</name>
        <text>&lt;p&gt;Click here to approve or reject: {!responseFlowLink}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>candidate_record_owner_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curAPDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessInstance__c</objectType>
    </variables>
    <variables>
        <name>curApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>curApproverStepTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curAPStepDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>curAPStepInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessStepInstance__c</objectType>
    </variables>
    <variables>
        <name>curEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curStepApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>curStepTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Process_Step_Task__c</objectType>
    </variables>
    <variables>
        <name>curUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>emailErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSentSuccessfully</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntryCriteriaMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hierarchy_user_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>placeholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseFlowLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
