force-app/main/default/flows/AP_Specify_Entry_Criteria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Display_Type_Expression_Builder</name>
        <label>Assign Display Type &quot;Expression Builder&quot;</label>
        <locationX>1199</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>placeholderVar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Formula_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Display_Type_Formula</name>
        <label>Assign Display Type &quot;Formula&quot;</label>
        <locationX>1261</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>placeholderVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Formula_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Take the output from the Formula Builder or Expression Builder and save it to the EntryCritera attribute of the Approval Process Definition or Step Definition</description>
        <name>Assign_Formula_String</name>
        <label>Assign Formula String</label>
        <locationX>1494</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>placeholderVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Which_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment2</name>
        <label>Mode 2</label>
        <locationX>824</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>placeholderVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_EntryCriteriaDisplayType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment3</name>
        <label>Mode 3</label>
        <locationX>883</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>placeholderVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_EntryCriteriaDisplayType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment4</name>
        <label>Mode 4</label>
        <locationX>947</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>placeholderVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_EntryCriteriaDisplayType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_1</name>
        <label>Mode 1</label>
        <locationX>824</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>placeholderVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_EntryCriteriaDisplayType</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlwaysEnter</name>
        <choiceText>All records should enter this step.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>always</stringValue>
        </value>
    </choices>
    <choices>
        <name>approveRecord</name>
        <choiceText>Approve Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>CriteriaBased</name>
        <choiceText>Evaluate some expression criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CriteriaExpression</stringValue>
        </value>
    </choices>
    <choices>
        <name>CriteriaOrFormula</name>
        <choiceText>Use criteria or a formula</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnterStep</name>
        <choiceText>Enter the step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>enterStep</stringValue>
        </value>
    </choices>
    <choices>
        <name>EvaluateFormula</name>
        <choiceText>Evaluate a formula</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>formula</stringValue>
        </value>
    </choices>
    <choices>
        <name>FinalRejection</name>
        <choiceText>Perform all rejection actions for this step AND all final rejection actions. (Final Rejection)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>finalRejection</stringValue>
        </value>
    </choices>
    <choices>
        <name>SkipToNextStep</name>
        <choiceText>Go to next step (skip this one)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>skip</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Process_Selected_Entry_Criteria_Mode</name>
        <label>Process Selected Entry Criteria Mode</label>
        <locationX>458</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>assignment4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EnterIfCriteriaTrueElseApprove</defaultConnectorLabel>
        <rules>
            <name>outcomeAlwaysEnter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>placeholderVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>placeholder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_1</targetReference>
            </connector>
            <label>alwaysEnter</label>
        </rules>
        <rules>
            <name>enterIfCriteriaTrueElseSkip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>placeholderVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>placeholder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment2</targetReference>
            </connector>
            <label>enterIfCriteriaTrueElseSkip</label>
        </rules>
        <rules>
            <name>enterIfCriteriaTrueElseReject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>placeholderVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>placeholder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment3</targetReference>
            </connector>
            <label>enterIfCriteriaTrueElseReject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_EntryCriteriaDisplayType</name>
        <label>Set EntryCriteriaDisplayType</label>
        <locationX>1023</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Assign_Display_Type_Expression_Builder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expression Builder</defaultConnectorLabel>
        <rules>
            <name>Formula_Builder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>placeholderVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>placeholder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Display_Type_Formula</targetReference>
            </connector>
            <label>Formula Builder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Which_Record</name>
        <label>Update Which Record?</label>
        <locationX>1615</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Approval_Process_Definition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approval process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Process_Definition</targetReference>
            </connector>
            <label>Approval Process Definition</label>
        </rules>
        <rules>
            <name>Approval_Process_Step_Definition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approval process step</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Process_Step_Definition</targetReference>
            </connector>
            <label>Approval Process Step Definition</label>
        </rules>
    </decisions>
    <interviewLabel>AP Specify Entry Criteria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Specify Entry Criteria</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Approval_Process_Definition</name>
        <label>Update Approval Process Definition</label>
        <locationX>1738</locationX>
        <locationY>286</locationY>
        <inputReference>curApprovalProcessDefinition</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Process_Step_Definition</name>
        <label>Update Approval Process Step Definition</label>
        <locationX>1823</locationX>
        <locationY>65</locationY>
        <inputReference>curApprovalProcessStepDefinition</inputReference>
    </recordUpdates>
    <screens>
        <name>Specify_Step_Criteria</name>
        <label>Specify Step Criteria</label>
        <locationX>256</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Selected_Entry_Criteria_Mode</targetReference>
        </connector>
        <fields>
            <name>radioSpecify_Step_Criteria</name>
            <extensionName>c:expressChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>SpecifyStepCriteriaLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>SpecifyStepCriteriaValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Choice labels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Specify Step Criteria</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>criteria_or_formula</name>
            <extensionName>c:expressChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Criteria or Formula</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Choice labels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>CriteriaOrFormulaLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>CriteriaOrFormulaValues</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioSpecify_Step_Criteria.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CriteriaOrFormula</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>If_Criteria_are_Met_or_Formula_is_True</name>
            <extensionName>c:expressChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Choice labels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>If Criteria are Met, or Formula is True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>IfCriteriaLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>IfCriteriaValues</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioSpecify_Step_Criteria.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CriteriaOrFormula</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Specify_Step_Criteria</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Criteria or Formula Labels</description>
        <name>CriteriaOrFormulaLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evaluate some expression criteria;Evaluate a formula</stringValue>
        </value>
    </variables>
    <variables>
        <description>Criteria or Formula Values</description>
        <name>CriteriaOrFormulaValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CriteriaExpression;formula</stringValue>
        </value>
    </variables>
    <variables>
        <name>curApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessStepDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <description>the actual criteria, in the form of a formula string</description>
        <name>EntryCriteria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Show Criteria Builder or Formula Builder</description>
        <name>EntryCriteriaDisplayType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>There are four modes of behavior that can be specified for Approval Process entry criteria: 
alwaysEnter	Always Enter. Ignore any EntryCriteria.
enterIfCriteriaTrueElseSkip	Enters if True, otherwise bypasses. This will cause an Approval Process  to terminate without further execution. It will cause an Approval Process Step to skip to the next Step.
enterIfCriteriaTrueElseReject	Enter if True, otherwise Reject. This state is valid only for Steps and not for Processes. results in a Rejection of the Approval Process if False.
enterIfCriteriaTrueElseApprove	Enter if True, otherwise Approve. This state is valid only for Steps and not for Processes. results in an Approval of the Approval Process if False.</description>
        <name>EntryCriteriaMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If Criteria Labels</description>
        <name>IfCriteriaLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enter the step;Approve Record;Go to next step (skip this one)</stringValue>
        </value>
    </variables>
    <variables>
        <description>If Criteria Values</description>
        <name>IfCriteriaValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>enterStep;approve;skip</stringValue>
        </value>
    </variables>
    <variables>
        <description>This flow can be called as part of the editing of either an Approval Process Definition or an Approval Process Step Definition. This variable is a flag that says which one is being used, so we update the correct one. There are input attributes for both.</description>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>placeholderVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify Step Criteria Labels</description>
        <name>SpecifyStepCriteriaLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All records should enter this step;Use criteria or a formula</stringValue>
        </value>
    </variables>
    <variables>
        <description>Specify Step Criteria Values</description>
        <name>SpecifyStepCriteriaValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>always;criteria</stringValue>
        </value>
    </variables>
</Flow>
