force-app/main/default/flows/AP_Specify_Entry_Criteria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Alway_Enter_No</name>
        <label>Alway Enter No</label>
        <locationX>511</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>AlwaysOrFormula</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Specify_Step_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Always_Enter_Yes</name>
        <label>Always Enter Yes</label>
        <locationX>396</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>AlwaysOrFormula</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>always</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Specify_Step_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AP_Field_Values</name>
        <label>Assign AP Field Values</label>
        <locationX>461</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.EntryCriteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryCriteria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.EntryCriteriaMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryCriteriaMode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.EntryCriteriaDisplayType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryCriteriaDisplayType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessDefinition.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Process_Definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AP_Step_Field_Values</name>
        <label>Assign AP Step Field Values</label>
        <locationX>982</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.EntryCriteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryCriteria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.EntryCriteriaMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryCriteriaMode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.EntryCriteriaDisplayType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryCriteriaDisplayType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepDefinition.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Process_Step_Definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Display_Type</name>
        <label>Assign Display Type</label>
        <locationX>728</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>EntryCriteriaDisplayType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>criteria_or_formula.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Criteria_To_Choose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entry_Criteria_From_Expression_Builder</name>
        <label>Assign Entry Criteria From Expression Builder</label>
        <locationX>528</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>EntryCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expression_builder_lwc.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Always_Enter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entry_Criteria_From_Formula_Builder</name>
        <label>Assign Entry Criteria From Formula Builder</label>
        <locationX>915</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>EntryCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_builder_lwc.formulaValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Always_Enter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entry_Criteria_Mode</name>
        <label>Assign Entry Criteria Mode</label>
        <locationX>929</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>EntryCriteriaMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_Criteria_are_Met_or_Formula_is_True.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Which_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entry_Criteria_Mode2</name>
        <label>Assign Entry Criteria Mode</label>
        <locationX>506</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>EntryCriteriaMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Always Enter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Which_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_AP</name>
        <label>Is AP</label>
        <locationX>222</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>EntryCriteriaDisplayType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curApprovalProcessDefinition.EntryCriteriaDisplayType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntryCriteriaMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curApprovalProcessDefinition.EntryCriteriaMode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntryCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curApprovalProcessDefinition.EntryCriteria__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Input_Always_Enter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_AP_Step</name>
        <label>Is AP Step</label>
        <locationX>142</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>EntryCriteriaDisplayType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curApprovalProcessStepDefinition.EntryCriteriaDisplayType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntryCriteriaMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curApprovalProcessStepDefinition.EntryCriteriaMode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntryCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curApprovalProcessStepDefinition.EntryCriteria__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Input_Always_Enter</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlwaysEnter</name>
        <choiceText>All records should enter this step.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>always</stringValue>
        </value>
    </choices>
    <choices>
        <name>approveRecord</name>
        <choiceText>Approve Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>CriteriaBased</name>
        <choiceText>Evaluate some expression criteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CriteriaExpression</stringValue>
        </value>
    </choices>
    <choices>
        <name>CriteriaOrFormula</name>
        <choiceText>Use criteria or a formula</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>criteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnterStep</name>
        <choiceText>Enter the step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>enterStep</stringValue>
        </value>
    </choices>
    <choices>
        <name>EvaluateFormula</name>
        <choiceText>Evaluate a formula</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>formula</stringValue>
        </value>
    </choices>
    <choices>
        <name>FinalRejection</name>
        <choiceText>Perform all rejection actions for this step AND all final rejection actions. (Final Rejection)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>finalRejection</stringValue>
        </value>
    </choices>
    <choices>
        <name>SkipToNextStep</name>
        <choiceText>Go to next step (skip this one)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>skip</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AP_Or_AP_Step</name>
        <label>AP Or AP Step</label>
        <locationX>9</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Is_AP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AP</defaultConnectorLabel>
        <rules>
            <name>AP_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curApprovalProcessStepDefinition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_AP_Step</targetReference>
            </connector>
            <label>AP Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Always_Enter</name>
        <label>Is Always Enter</label>
        <locationX>719</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Assign_Entry_Criteria_Mode2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioSpecify_Step_Criteria.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>always</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Entry_Criteria_Mode2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioSpecify_Step_Criteria.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>criteria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Entry_Criteria_Mode</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Input_Always_Enter</name>
        <label>Is Input Always Enter</label>
        <locationX>385</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>Alway_Enter_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Input_Always_Enter_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>curApprovalProcessDefinition.EntryCriteriaMode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Always Enter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curApprovalProcessStepDefinition.EntryCriteriaMode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Always Enter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Always_Enter_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Which_Record</name>
        <label>AP OR AP Step Definition</label>
        <locationX>715</locationX>
        <locationY>727</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Approval_Process_Definition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approval process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AP_Field_Values</targetReference>
            </connector>
            <label>Approval Process Definition</label>
        </rules>
        <rules>
            <name>Approval_Process_Step_Definition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approval process step</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AP_Step_Field_Values</targetReference>
            </connector>
            <label>Approval Process Step Definition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Criteria_To_Choose</name>
        <label>Which Criteria To Choose</label>
        <locationX>723</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Is_Always_Enter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Records</defaultConnectorLabel>
        <rules>
            <name>From_Formula_Builder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>criteria_or_formula.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FormulaBuilder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Entry_Criteria_From_Formula_Builder</targetReference>
            </connector>
            <label>From Formula Builder</label>
        </rules>
        <rules>
            <name>From_Expression_Builder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>criteria_or_formula.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExpressionBuilder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Entry_Criteria_From_Expression_Builder</targetReference>
            </connector>
            <label>From Expression Builder</label>
        </rules>
    </decisions>
    <interviewLabel>AP Specify Entry Criteria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Specify Entry Criteria</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Approval_Process_Definition</name>
        <label>Update Approval Process Definition</label>
        <locationX>460</locationX>
        <locationY>894</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>curApprovalProcessDefinition</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Process_Step_Definition</name>
        <label>Update Approval Process Step Definition</label>
        <locationX>984</locationX>
        <locationY>883</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>curApprovalProcessStepDefinition</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>726</locationX>
        <locationY>893</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Specify_Step_Criteria</name>
        <label>Specify Step Criteria</label>
        <locationX>727</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Display_Type</targetReference>
        </connector>
        <fields>
            <name>radioSpecify_Step_Criteria</name>
            <extensionName>c:expressChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>SpecifyStepCriteriaLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>SpecifyStepCriteriaValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Choice labels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Specify Step Criteria</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AlwaysOrFormula</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>criteria_or_formula</name>
            <extensionName>c:expressChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Criteria or Formula</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Choice labels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>CriteriaOrFormulaLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>CriteriaOrFormulaValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EntryCriteriaDisplayType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioSpecify_Step_Criteria.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CriteriaOrFormula</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>formula_builder_lwc</name>
            <extensionName>c:formulaBuilder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>contextObjectType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formulaValue</name>
                <value>
                    <elementReference>EntryCriteria</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>criteria_or_formula.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FormulaBuilder</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>expression_builder_lwc</name>
            <extensionName>c:expressionBuilder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EntryCriteria</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>criteria_or_formula.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ExpressionBuilder</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>If_Criteria_are_Met_or_Formula_is_True</name>
            <extensionName>c:expressChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Choice labels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>If Criteria are Met, or Formula is True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>IfCriteriaLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>IfCriteriaValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EntryCriteriaMode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioSpecify_Step_Criteria.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CriteriaOrFormula</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>18</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>AP_Or_AP_Step</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AlwaysOrFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriteriaIsMetValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Criteria or Formula Labels</description>
        <name>CriteriaOrFormulaLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evaluate a formula;Evaluate some expression criteria</stringValue>
        </value>
    </variables>
    <variables>
        <name>CriteriaOrFormulaValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Criteria or Formula Values</description>
        <name>CriteriaOrFormulaValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FormulaBuilder;ExpressionBuilder</stringValue>
        </value>
    </variables>
    <variables>
        <name>curApprovalProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessDefinition__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessStepDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <description>the actual criteria, in the form of a formula string</description>
        <name>EntryCriteria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Show Criteria Builder or Formula Builder</description>
        <name>EntryCriteriaDisplayType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>There are four modes of behavior that can be specified for Approval Process entry criteria: 
alwaysEnter	Always Enter. Ignore any EntryCriteria.
enterIfCriteriaTrueElseSkip	Enters if True, otherwise bypasses. This will cause an Approval Process  to terminate without further execution. It will cause an Approval Process Step to skip to the next Step.
enterIfCriteriaTrueElseReject	Enter if True, otherwise Reject. This state is valid only for Steps and not for Processes. results in a Rejection of the Approval Process if False.
enterIfCriteriaTrueElseApprove	Enter if True, otherwise Approve. This state is valid only for Steps and not for Processes. results in an Approval of the Approval Process if False.</description>
        <name>EntryCriteriaMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If Criteria Labels</description>
        <name>IfCriteriaLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enter the step;Approve Record;Go to next step (skip this one)</stringValue>
        </value>
    </variables>
    <variables>
        <description>If Criteria Values</description>
        <name>IfCriteriaValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enter If True, Else Bypass;Enter If True, Else Approve;Enter If True, Else Reject</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsAlwaysEnterVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This flow can be called as part of the editing of either an Approval Process Definition or an Approval Process Step Definition. This variable is a flag that says which one is being used, so we update the correct one. There are input attributes for both.</description>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>placeholderVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Specify Step Criteria Labels</description>
        <name>SpecifyStepCriteriaLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All records should enter this step;Use criteria or a formula</stringValue>
        </value>
    </variables>
    <variables>
        <description>Specify Step Criteria Values</description>
        <name>SpecifyStepCriteriaValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>always;criteria</stringValue>
        </value>
    </variables>
    <variables>
        <name>StepCriteriaValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
