force-app/main/default/flows/AP_User_Approves_or_Rejects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Update the Step Task Status, recording whether the user clicked Approve or Reject. This will trigger a separate process that will transition the approval process instance</description>
        <name>Update_Current_Step_Task</name>
        <label>Update Current Step Task</label>
        <locationX>839</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>curApprovalProcessStepTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestedAction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Step_Task_Changes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Show_History</name>
        <label>Show History?</label>
        <locationX>482</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Approve_or_Reject_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShowHistory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Process_Instance_History</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>AP User Approves or Rejects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP User Approves or Rejects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This essentially logs the user activity</description>
        <name>Create_History_Item</name>
        <label>Create History Item</label>
        <locationX>881</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>screenFinishMessage</targetReference>
        </connector>
        <inputAssignments>
            <field>ApprovalCandidateRecordId__c</field>
            <value>
                <elementReference>curApprovalProcessInstance.approvalProcessCandidateRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalProcessStepTaskId__c</field>
            <value>
                <elementReference>curApprovalProcessStepTask.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_User__c</field>
            <value>
                <elementReference>curApprovalProcessStepTask.Assigned_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>placeholderFromButtonBar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_User__c</field>
            <value>
                <elementReference>curApprovalProcessStepTask.Original_Assignee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>requestedAction</elementReference>
            </value>
        </inputAssignments>
        <object>ApprovalInstanceHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Process_Instance</name>
        <label>Get Approval Process Instance</label>
        <locationX>318</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_History</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessStepTask.Parent_Approval_Process_Instance__c</elementReference>
            </value>
        </filters>
        <object>ApprovalProcessInstance__c</object>
        <outputReference>curApprovalProcessInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ApprovalProcessDefinition__c</queriedFields>
        <queriedFields>Current_Approval_Step__c</queriedFields>
        <queriedFields>approvalProcessCandidateRecordId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Process_Instance_History</name>
        <label>Get Approval Instance History Items</label>
        <locationX>659</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_or_Reject_Record</targetReference>
        </connector>
        <filters>
            <field>Approval_Process_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessInstance.Id</elementReference>
            </value>
        </filters>
        <object>ApprovalInstanceHistory__c</object>
        <outputReference>curApprovalProcessHistoryItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Approval_Process_Instance__c</queriedFields>
        <queriedFields>ApprovalProcessStepInstance__c</queriedFields>
        <queriedFields>ApprovalCandidateRecordId__c</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>The Step Task represents a particular request made to a particular approver for a particular step instance.</description>
        <name>Get_Approval_Process_Step_Task</name>
        <label>Get Approval Process Step Task</label>
        <locationX>157</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Process_Instance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>processStepTaskId</elementReference>
            </value>
        </filters>
        <object>Approval_Process_Step_Task__c</object>
        <outputReference>curApprovalProcessStepTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approval_Process_Step_Instance__c</queriedFields>
        <queriedFields>Assigned_User__c</queriedFields>
        <queriedFields>Original_Assignee__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Parent_Approval_Process_Instance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Step_Task_Changes</name>
        <label>Save Step Task Changes</label>
        <locationX>992</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Create_History_Item</targetReference>
        </connector>
        <inputReference>curApprovalProcessStepTask</inputReference>
    </recordUpdates>
    <screens>
        <name>Approve_or_Reject_Record</name>
        <label>Approve or Reject Record</label>
        <locationX>659</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Current_Step_Task</targetReference>
        </connector>
        <fields>
            <name>dispHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Please Approve or Reject this record:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>candidateRecordDetail</name>
            <extensionName>c:recordDetailFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>curApprovalProcessInstance.approvalProcessCandidateRecordId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>edit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Status, Priority, Subject, Discount, Duration, ContactId, CaseId, AssetId, AccountId</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>showHistoryTable</name>
            <extensionName>c:approvalProcessHistory</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>curApprovalProcessInstance.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>approveButtons</name>
            <extensionName>c:buttonSet</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabels</name>
                <value>
                    <stringValue>Approve, Reject</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonNavigationDirective</name>
                <value>
                    <stringValue>next,next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>requestedAction</assignToReference>
                <name>action</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenFinishMessage</name>
        <label>screenFinishMessage</label>
        <locationX>1030</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispSuccessMessage</name>
            <fieldText>&lt;p&gt;Thank you for your action on this request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Approval_Process_Step_Task</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curApprovalProcessHistoryItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalInstanceHistory__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessInstance__c</objectType>
    </variables>
    <variables>
        <name>curApprovalProcessStepTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Process_Step_Task__c</objectType>
    </variables>
    <variables>
        <name>placeholderFromButtonBar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the specific task that was assigned to a specific approver for a specific instance of step for a specific instance of an approval process</description>
        <name>processStepTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestedAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowHistory</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
