force-app/main/default/flows/CaseManager_Manage_Case_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Selected_Case_Picklist</name>
        <label>Fetch Selected Case Picklist</label>
        <locationX>547</locationX>
        <locationY>518</locationY>
        <actionName>CaseMgmt_CasePlanController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Again_Create_Or_Edit</targetReference>
        </connector>
        <inputParameters>
            <name>RecordIdList</name>
            <value>
                <elementReference>SelectedRecordTypeName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseStatesOrderCSV</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Selected_Case_Order</name>
        <label>Assign Selected Case Order</label>
        <locationX>1161</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>selectedCaseStatusOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCasePlan2.CaseStatusOrdering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Case_Plan_Edit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_RecordTypeId</name>
        <label>Assign Selected RecordTypeId</label>
        <locationX>547</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCasePlan2.RecordTypeId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Selected_Case_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Values_To_Dual_list</name>
        <label>Assign  Updated Values To Dual List</label>
        <locationX>1528</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>selectedCaseStatusOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCasePlan2.CaseStatusOrdering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Assignment</name>
        <label>Create Assignment</label>
        <locationX>1969</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>requestedStepAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>add</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Case_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_Assignment</name>
        <label>Delete Assignment</label>
        <locationX>2167</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>requestedStepAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Case_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Assignment</name>
        <label>Edit Assignment</label>
        <locationX>2382</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>requestedStepAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Case_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Generate a single CSV string that contains semi-colon separated recordtype ID/Name pairs</description>
        <name>Generate_CSV</name>
        <label>Generate CSV</label>
        <locationX>42</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCSVVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConvertRecordTypeDataToCSV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_RecordType_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetCasePlanData</name>
        <label>GetCasePlanData</label>
        <locationX>51</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>SelectedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCasePlan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Plan_After_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddStep</name>
        <choiceText>Add Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>create_Choice</name>
        <choiceText>Create New Case Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>createChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done</name>
        <choiceText>Done with steps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>done</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>edit_choice</name>
        <choiceText>Edit Existing Case Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EditCasePlan</elementReference>
        </value>
    </choices>
    <choices>
        <name>ModifyStep</name>
        <choiceText>Edit or Delete Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_or_Delete_Branch</name>
        <label>Add or Edit Branch</label>
        <locationX>2324</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Manage_Plan_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modify</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextPlanStepActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddStep</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assignment</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>DoneOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextPlanStepActionChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Done</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Plan</targetReference>
            </connector>
            <label>Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Plan_Exist</name>
        <label>Case Plans Exist</label>
        <locationX>772</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Case Plans</defaultConnectorLabel>
        <rules>
            <name>Case_Plan_Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curCasePlans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Case_Plan</targetReference>
            </connector>
            <label>Case Plans Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Again_Create_Or_Edit</name>
        <label>Check Again Create Or Edit</label>
        <locationX>697</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePlanAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>create_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Case_Status_order</targetReference>
            </connector>
            <label>IsCreate</label>
        </rules>
        <rules>
            <name>isEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePlanAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>edit_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Case_Plan_Screen</targetReference>
            </connector>
            <label>isEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Output</name>
        <label>Check Output</label>
        <locationX>2436</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flow_Call_By_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Output</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Created By User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
            </connector>
            <label>Is Flow Call By Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Id_is_Null</name>
        <label>Check Selected Id is Null</label>
        <locationX>1010</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Case_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Id_Selected</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Similar_Record_Found</name>
        <label>Check Similar Record Found</label>
        <locationX>538</locationX>
        <locationY>761</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchingCasePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Similar_Case_Plan</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchingCasePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Selected_Case_Picklist</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Similar_When_Update_Record</name>
        <label>Check Similar When Update Record</label>
        <locationX>1018</locationX>
        <locationY>784</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundWhenEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchingCasePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Similar_Case_Plan_Update</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found_When_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchingCasePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Case_Order</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Slected_Item_In_List</name>
        <label>Check Slected Item In List</label>
        <locationX>1315</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>GetSelectedRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Item_Slected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedCaseStatusOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedCaseStatusOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorSelectedMessage</targetReference>
            </connector>
            <label>No Item Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelecttion</name>
        <label>CheckSelecttion</label>
        <locationX>1845</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Type_of_Modification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Id_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPlanStepId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Selected Id Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateOrEdit</name>
        <label>Create Or Edit</label>
        <locationX>245</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Case_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePlanAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>create_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCasePlan</targetReference>
            </connector>
            <label>Create Case Plan</label>
        </rules>
        <rules>
            <name>Edit_Case_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasePlanAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>edit_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Plan</targetReference>
            </connector>
            <label>Edit Case Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Item_Selected</name>
        <label>Is Item Selected</label>
        <locationX>565</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>GetSelectedRecordTypeDataCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_Not_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedCaseStatusOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedCaseStatusOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Error_Message</targetReference>
            </connector>
            <label>Item Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modification_Type</name>
        <label>Modification Type</label>
        <locationX>1497</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Get_New_Records_for_Case_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modification</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSelecttion</targetReference>
            </connector>
            <label>Modification</label>
        </rules>
        <rules>
            <name>Modification_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddStep</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Modification Selected And But Option Not Slected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Modification</name>
        <label>Type of Modification</label>
        <locationX>2158</locationX>
        <locationY>621</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeleteModification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assignment</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>EditModification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Assignment</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <formulas>
        <name>ConvertRecordTypeDataToCSV</name>
        <dataType>String</dataType>
        <expression>{!curRecordType.Id}&amp;&quot;;&quot;&amp;{!curRecordType.DeveloperName}&amp;&quot;,&quot;</expression>
    </formulas>
    <interviewLabel>Manage Case Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseManager Manage Case Plan</label>
    <loops>
        <name>Loop_Over_RecordType_Records</name>
        <label>Loop Over RecordType Records</label>
        <locationX>43</locationX>
        <locationY>336</locationY>
        <assignNextValueToReference>curRecordType</assignNextValueToReference>
        <collectionReference>curRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_CSV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOrEdit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Plan_Record</name>
        <label>Create Case Plan Record</label>
        <locationX>58</locationX>
        <locationY>688</locationY>
        <assignRecordIdToReference>curCasePlan.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Plan_Created_Or_Modified</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseStatusOrdering__c</field>
            <value>
                <elementReference>selectedCaseStatusOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Case_Plan_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>selectedRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType_SupportProcess__c</field>
            <value>
                <elementReference>selectedRecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Plan</name>
        <label>Get Case Plan</label>
        <locationX>550</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Plan_Exist</targetReference>
        </connector>
        <object>Case_Plan__c</object>
        <outputReference>curCasePlans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Plan_After_Update</name>
        <label>Get Case Plan After Update</label>
        <locationX>1380</locationX>
        <locationY>1078</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Updated_Values_To_Dual_list</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>curCasePlan2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Records_for_Case_Plan</name>
        <label>Get New Records for Case Plan</label>
        <locationX>1323</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case_Plan_List</targetReference>
        </connector>
        <object>Case_Plan__c</object>
        <outputReference>curCasePlans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Steps_Of_Case_Plan</name>
        <label>Get Plan Steps Of Case Plan</label>
        <locationX>1696</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Plan_Steps_0</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCasePlan2.Id</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>curPlanSteps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Flow__c</queriedFields>
        <queriedFields>Associate_Case_Status__c</queriedFields>
        <queriedFields>Start_When__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>51</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_RecordType_Records</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>curRecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Case_Plan</name>
        <label>Get Selected Case Plan</label>
        <locationX>775</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selected_RecordTypeId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>curCasePlan2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Similar_Record_When_Edit</name>
        <label>Get Similar Record When Edit</label>
        <locationX>1015</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Similar_When_Update_Record</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>curCasePlan2.Name</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>matchingCasePlan</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Similiar_Record</name>
        <label>Get Similar Record</label>
        <locationX>249</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Similar_Record_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Plan_Name</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>matchingCasePlan</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRecordType</name>
        <label>GetSelectedRecordType</label>
        <locationX>1326</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Edited_Record_case_Plan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>selectedRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRecordTypeDataCreate</name>
        <label>GetSelectedRecordTypeDataCreate</label>
        <locationX>297</locationX>
        <locationY>991</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Plan_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>selectedRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_Record_case_Plan</name>
        <label>Update Edited Record case Plan</label>
        <locationX>1514</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Case_Plan_After_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseStatusOrdering__c</field>
            <value>
                <elementReference>selectedCaseStatusOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>SelectedRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType_SupportProcess__c</field>
            <value>
                <elementReference>selectedRecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordUpdates>
    <screens>
        <name>Case_Plan_Created_Or_Modified</name>
        <label>Case Plan Modified</label>
        <locationX>51</locationX>
        <locationY>933</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCasePlanData</targetReference>
        </connector>
        <fields>
            <name>CasePlanSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Case Plan Modified&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateCase_Plan</name>
        <label>Select Choice</label>
        <locationX>274</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>dispManageCasePlan</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Manage Case Plan&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CasePlanAction</name>
            <choiceReferences>create_Choice</choiceReferences>
            <choiceReferences>edit_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispDocumentation</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://unofficialsf.com/acm/&quot; target=&quot;_blank&quot;&gt;Documentation&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateCasePlan</name>
        <label>Create Case Plan</label>
        <locationX>248</locationX>
        <locationY>517</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similiar_Record</targetReference>
        </connector>
        <fields>
            <name>DisplaytextRecordTypeScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New Case Plan&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Plan_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>selectRecordTypePicklist</name>
            <extensionName>c:csvPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CSVString</name>
                <value>
                    <elementReference>RecordTypeCSVVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedString</name>
                <value>
                    <elementReference>SelectedRecordTypeName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listType</name>
                <value>
                    <stringValue>complex</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPicklist</name>
                <value>
                    <stringValue>Link Case Plan to which Case Record Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRecordTypeName</assignToReference>
                <name>selectedString</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Case_Plan_Screen</name>
        <label>Edit Case Plan Screen</label>
        <locationX>859</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similar_Record_When_Edit</targetReference>
        </connector>
        <fields>
            <name>dispEditPlan</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Edit Case Plan&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>curCasePlan2.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordType</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Record Type: &lt;/b&gt;{!curCasePlan2.RecordType_SupportProcess__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!!</label>
        <locationX>449</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase_Plan</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;No Case Plans are defined.  Please create one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1854</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Plan_Steps</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageNoID</name>
            <fieldText>&lt;p&gt;Please select a record from the table.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorSelectedMessage</name>
        <label>ErrorSelectedMessage</label>
        <locationX>1151</locationX>
        <locationY>1001</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Similar_When_Update_Record</targetReference>
        </connector>
        <fields>
            <name>ErrorNoItemSelected</name>
            <fieldText>Their is not item selected please select one value from the list.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Case_Plan</name>
        <label>Existing Case Plan</label>
        <locationX>1018</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Id_is_Null</targetReference>
        </connector>
        <fields>
            <name>DisplayHeaderForExistngCasePlan</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Select Case Plan to Edit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CasePlanDataTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>CasePlanColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>curCasePlans</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Case_Plan_Edit</name>
        <label>Manage Case Plan</label>
        <locationX>1323</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Slected_Item_In_List</targetReference>
        </connector>
        <fields>
            <name>ScreenMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Configure Case Plan&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dlbSetStateOrder</name>
            <extensionName>c:dualListBoxFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FullItemSetCSV</name>
                <value>
                    <elementReference>CaseStatesOrderCSV</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedItemsCSV</name>
                <value>
                    <elementReference>selectedCaseStatusOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set State Order</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCaseStatusOrder</assignToReference>
                <name>SelectedItemsCSV</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Case_Status_order</name>
        <label>Manage Case Status order</label>
        <locationX>701</locationX>
        <locationY>785</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Item_Selected</targetReference>
        </connector>
        <fields>
            <name>ManageCaseStatusOrder</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Manage Case Status Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayToolTip</name>
            <fieldText>Case Plans allow you to specify the order in which the case transitions through its stages.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>planStepsOrder</name>
            <extensionName>c:dualListBoxFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FullItemSetCSV</name>
                <value>
                    <elementReference>CaseStatesOrderCSV</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedItemsCSV</name>
                <value>
                    <elementReference>selectedCaseStatusOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Plan States</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCaseStatusOrder</assignToReference>
                <name>SelectedItemsCSV</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Plan_Steps</name>
        <label>Manage Plan Steps</label>
        <locationX>1502</locationX>
        <locationY>648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Modification_Type</targetReference>
        </connector>
        <fields>
            <name>dispSelectModify</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select Step to Modify:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PlanStepDataTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>PlanStepFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCaseStep</name>
                <value>
                    <elementReference>curPlanSteps</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPlanStepId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>What_Kind_Of_Modification_Needed</name>
            <choiceReferences>Edit</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Edit or Delete?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Plan_Steps_0</name>
        <label>Add or Edit Plan Step?</label>
        <locationX>1696</locationX>
        <locationY>920</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_Delete_Branch</targetReference>
        </connector>
        <fields>
            <name>NextPlanStepActionChoice</name>
            <choiceReferences>AddStep</choiceReferences>
            <choiceReferences>ModifyStep</choiceReferences>
            <choiceReferences>Done</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add or Edit Plan Step?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Case_Plan_List</name>
        <label>New Case Plan List</label>
        <locationX>1321</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>YourCasePlan</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Plan Setup Completed!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewCasePlanTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>CasePlanColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>curCasePlans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Id_Selected</name>
        <label>No Id Selected</label>
        <locationX>1201</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_Case_Plan</targetReference>
        </connector>
        <fields>
            <name>ErrorNoId</name>
            <fieldText>&lt;p&gt;Please select a Case Plan.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selected_Error_Message</name>
        <label>Selected Error Message</label>
        <locationX>848</locationX>
        <locationY>1001</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Case_Status_order</targetReference>
        </connector>
        <fields>
            <name>ErrorSelectedItem</name>
            <fieldText>Their is not item selected please select one value from the list.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Similar_Case_Plan</name>
        <label>Similar Case Plan</label>
        <locationX>391</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCasePlan</targetReference>
        </connector>
        <fields>
            <name>SimilarCasePlanMessage</name>
            <fieldText>Case Plan already exist with same name, please create with different name!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Similar_Case_Plan_Update</name>
        <label>Similar Case Plan Update</label>
        <locationX>858</locationX>
        <locationY>780</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Case_Plan_Screen</targetReference>
        </connector>
        <fields>
            <name>SimilarCasePlanWhenUpdate</name>
            <fieldText>&lt;p&gt;A Case Plan already exists with this name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CreateCase_Plan</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Manage_Case_Step</name>
        <label>Manage Case Step</label>
        <locationX>2434</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Check_Output</targetReference>
        </connector>
        <flowName>CaseManager_Manage_Case_Steps</flowName>
        <inputAssignments>
            <name>CasePlanRecord</name>
            <value>
                <elementReference>curCasePlan2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedPlanStepId</name>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderedCaseStatusCSV</name>
            <value>
                <elementReference>curCasePlan2.CaseStatusOrdering__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>requestType</name>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>requestedStepAction</name>
            <value>
                <elementReference>requestedStepAction</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CasePlanColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;Case Status Ordering,CaseStatusOrdering__c,text;Support Process,RecordType_SupportProcess__c,text</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseStatesOrderCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Create&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>createPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curCasePlan2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curCasePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>curPlanSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <name>curRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>curRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>DeletePlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EditCasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>editPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>indexCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>matchingCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>matchingCasePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlanStepFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;Parent/Predecessor,Start_When__c,text;Flow,Flow__c,text;Case Status,Associate_Case_Status__c,text;Required,Is_Required__c,boolean;</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeCSVVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The action that ManagePlan flow wants ManageStep flow to carry out</description>
        <name>requestedStepAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCaseStatusOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPlanStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SelectedRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
