force-app/main/default/flows/CaseManager_ProcessCaseStep.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>202</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>outputVaribale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Parent_Error_Message</name>
        <label>Assign Parent Error Message</label>
        <locationX>830</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>outputVaribale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First Complete Parent Case Step!!!</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Parent_Completed</name>
        <label>Check Parent Completed</label>
        <locationX>610</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Assign_Parent_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Parent_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCaseStep.IsCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Step_To_Complete</targetReference>
            </connector>
            <label>Is Parent Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Exist</name>
        <label>Check Parent Exist</label>
        <locationX>361</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Parent_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartWhen</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartWhen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ParentRecord</targetReference>
            </connector>
            <label>Is Parent Exist</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>StartWhen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartWhen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Step_To_Complete</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <interviewLabel>CaseManager_ProcessCaseStep {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseManager_ProcessCaseStep</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Step_Record</name>
        <label>Get Case Step Record</label>
        <locationX>202</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Exist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseStepId</elementReference>
            </value>
        </filters>
        <object>Case_Step__c</object>
        <outputReference>CaseStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Is_Pending__c</queriedFields>
        <queriedFields>IsCompleted__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ParentRecord</name>
        <label>Get ParentRecord</label>
        <locationX>617</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Completed</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartWhen</elementReference>
            </value>
        </filters>
        <object>Case_Step__c</object>
        <outputReference>ParentCaseStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Step_To_Complete</name>
        <label>Update Case Step To Complete</label>
        <locationX>371</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Assign_Output</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseStepRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Pending__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case_Step__c</object>
    </recordUpdates>
    <startElementReference>Get_Case_Step_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasePlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>CaseStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Step__c</objectType>
    </variables>
    <variables>
        <name>outputVaribale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Parent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCaseStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Step__c</objectType>
    </variables>
    <variables>
        <name>StartWhen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
