force-app/main/default/flows/CaseManager_ProcessCaseTransitionRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_IsCompleted_To_false</name>
        <label>Assign IsCompleted To false</label>
        <locationX>555</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>IsAllCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Case_Step_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Completed</name>
        <label>Case Completed</label>
        <locationX>710</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>AlertMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Plan Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Message</name>
        <label>Message</label>
        <locationX>950</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>AlertMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required Case Step Not Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Message</name>
        <label>Update Message</label>
        <locationX>1064</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>AlertMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Status Updated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_All_Case_Step_Status</name>
        <label>Check All Case Step Status</label>
        <locationX>549</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Case_Step_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Step_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVariableForCaseStep.IsCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlanStepRecord.Is_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IsCompleted_To_false</targetReference>
            </connector>
            <label>Case Step Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Completed_Case_Step</name>
        <label>Check Completed Case Step</label>
        <locationX>705</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>If_Next_Status_Not_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Step_Not_Completed_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAllCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message</targetReference>
            </connector>
            <label>Case Step Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Next_Status_Exist</name>
        <label>Check Next Status Exist</label>
        <locationX>959</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Update_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Status_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>Next Status Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Next_Status_Not_Available</name>
        <label>If Next Status Not Available</label>
        <locationX>703</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Check_Next_Status_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Avaiable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Completed</targetReference>
            </connector>
            <label>Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PlanStepRecord_Null</name>
        <label>Is PlanStepRecord Null</label>
        <locationX>228</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Check_All_Case_Step_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanStepRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Case_Step_Records</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <interviewLabel>CaseManager_ProcessCaseTransitionRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseManager_ProcessCaseTransitionRequest</label>
    <loops>
        <name>Loop_Over_Case_Step_Records</name>
        <label>Loop Over Case Step Records</label>
        <locationX>317</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>loopVariableForCaseStep</assignNextValueToReference>
        <collectionReference>CaseStepRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Plan_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Completed_Case_Step</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Plan_Step</name>
        <label>Get Plan Step</label>
        <locationX>179</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_PlanStepRecord_Null</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>casePlanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopVariableForCaseStep.Name</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseStepRecords</name>
        <label>GetCaseStepRecords</label>
        <locationX>139</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Case_Step_Records</targetReference>
        </connector>
        <filters>
            <field>Associated_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCaseStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case_Step__c</object>
        <outputReference>CaseStepRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>847</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Update_Message</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>nextStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>GetCaseStepRecords</startElementReference>
    <status>Active</status>
    <variables>
        <name>AlertMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>casePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStepRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Step__c</objectType>
    </variables>
    <variables>
        <name>currentCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsAllCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopVariableForCaseStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Step__c</objectType>
    </variables>
    <variables>
        <name>nextStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlanStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
</Flow>
