force-app/main/default/flows/Manage_Step_Reordering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The dual list box returns an ordered list of names. We have to match them to the actual step definition records so we can update the order values</description>
        <name>Find_Matching_Step_Definition</name>
        <label>Find Matching Step Definition</label>
        <locationX>232</locationX>
        <locationY>236</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Step_Order</targetReference>
        </connector>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>ApprovalProcessStepDefinition__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>currentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>selectedApprovalProcessStepDefinitions</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>matchingApprovalProcessStepDefinition</assignToReference>
            <name>singleOutputMember</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Update_Step_Order</name>
        <label>Update Step Order</label>
        <locationX>546</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>matchingApprovalProcessStepDefinition.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderIndex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modifiedApprovalProcessStepDefinitions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>matchingApprovalProcessStepDefinition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Names</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Manage Step Reordering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP Manage Step Reordering</label>
    <loops>
        <name>Iterate_over_Names</name>
        <label>Iterate over Names</label>
        <locationX>370</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>currentName</assignNextValueToReference>
        <collectionReference>orderedStepNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Matching_Step_Definition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Approval_Step_Definitions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Approval_Step_Definitions</name>
        <label>Update Approval Step Definitions</label>
        <locationX>551</locationX>
        <locationY>49</locationY>
        <inputReference>modifiedApprovalProcessStepDefinitions</inputReference>
    </recordUpdates>
    <screens>
        <name>Order_Steps</name>
        <label>Order Steps</label>
        <locationX>202</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_over_Names</targetReference>
        </connector>
        <fields>
            <name>dispReorderSubhead</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Reorder the Approval Process Steps&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>manage_reordering</name>
            <extensionName>c:manageApprovalProcessStep</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>approvalProcessId</name>
                <value>
                    <elementReference>apDefinitionId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Steps</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Id of Approval Process Definition</description>
        <name>apDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>matchingApprovalProcessStepDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <name>modifiedApprovalProcessStepDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
    <variables>
        <description>output from the dual list box</description>
        <name>orderedStepNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>selectedApprovalProcessStepDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApprovalProcessStepDefinition__c</objectType>
    </variables>
</Flow>
